<ion-view title="ABOUT PCYC">

    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding blackOnWhite" has-bouncing="false">
        <h2>About Pharmacyclics</h2>
        <p>Pharmacyclics, Inc. (NASDAQ: PCYC) is a biopharmaceutical company focused on developing and commercializing innovative small-molecule drugs for the treatment of cancer and immune mediated diseases. The company’s mission is to build a viable biopharmaceutical company that designs, develops and commercializes novel therapies intended to improve quality of life, increase duration of life and resolve serious unmet medical needs. It will do so by identifying and controlling promising product candidates based on scientific development and administrative expertise, developing its products in a rapid, cost-efficient manner and, pursuing commercialization and/or development partners when and where appropriate.</p>

            <p>&nbsp;</p>
            <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" width="320" height="240" style="border:1px solid black;"><source src="http://pcycmobileassets.s3-website-us-west-2.amazonaws.com/genius.mp4" /></video>


            <!--iframe src="" dynamic-url dynamic-url-src="http://pcycmobileassets.s3-website-us-west-2.amazonaws.com/genius.mp4" frameborder="0" width="320" height="240" allowfullscreen></iframe-->


    </ion-content>
</ion-view>
