<ion-view title="ABOUT GENIUS">

    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding blackOnWhite" has-bouncing="false">
        <h2>What is this<br />Genius App about?</h2>
        <p>The information in this <strong>Pharmacyclics Genius App</strong> is based on information that is taken from an article:  <strong>"24 Qualities that Geniuses have in Common"</strong> originally published in <i>National Enquirer</i> in 1980.  Dr. Alfred Barrios, clinical psychologist and author of <i>Towards Greater Freedom and Happiness</i>, wrote this article to highlight what he believes were the characteristics of geniuses.  "Copyright to the '24 Characteristics of Genius' by Dr. Barrios was assigned to Pharmacyclics in 2014."</p>
        <p>Dr. Barrios' fundamental belief was that these traits are within everyone and can be developed by anyone and anytime. "These are traits that <u>anyone can develop</u>. It makes no difference how old you are, how much education you have, or what you have accomplished to date. Adopting these personality characteristics will enable you to operate on a genius level." -Dr. Alfred Barrios.</p>
        <p>All people are born with the seed of genius within them.  Via observation, study and practice, attention and intention, genius manifests itself.</p>
        <p>Data is not knowledge. Data is only as valuable as it has been evaluated – and to do so, it needs to be applied. Imagine trying to describe to someone who has never had ice cream what it is like to eat Haagen-Dazs on a hot summer day. For them, to really know what it is like, they would need to actually try some. Same with the concepts of <i>Genius</i> as described here. You need to study, understand, train and practice these characteristics. </p>
        <p>"Achieving innovation and happiness through invoking the characteristics of genius inherent in every human," is what Pharmacyclics desires for each and every employee. --Bob Duggan, CEO &amp; Chairman of Pharmacyclics Inc.  2/2014</p>
        <p>Genius is generally defined as a person with extraordinary intellect or talent. This definition of genius covers only part of the concept of a genius. However the derivation adds more to the understanding of the word. Genius is derived from Latin genius = guardian spirit of a person, literally 'inborn nature', 'a person's natural ability', procreative divinity, spirit. This implies inclusiveness, it shows that it is an 'inborn nature', not something unique, that is only possessed by the few and special individuals who are broadly considered geniuses. </p>
        <p>The <u>purpose of this Pharmacyclics Genius App</u> is to help you bring out the genius within you. It helps you understand, review, develop, apply, test and eventually operate from a genius level. </p>
        <p><strong>It remains an important learning principle that you should observe and test information you learn for yourself, to see if you can agree to it. If you do not find the information in this training material to be 'true for yourself', you are not expected to apply it. </strong></p>

            <p>&nbsp;</p>
            <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" width="320" height="240" style="border:1px solid black;"><source src="http://pcycmobileassets.s3-website-us-west-2.amazonaws.com/innergeniustrimmed.mp4"  type="video/mp4" /></video>
            <!--iframe src="" dynamic-url dynamic-url-src="http://pcycmobileassets.s3-website-us-west-2.amazonaws.com/innergeniustrimmed.mp4" frameborder="0" width="320" height="240" allowfullscreen></iframe-->


        <p>&nbsp;</p>

    </ion-content>
</ion-view>
