<ion-view title="21. CURIOSITY">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/curiosity.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/curiosity.jpg" style="width:100%"></div>
            </ion-slide>
            <ion-slide>
                <div class=" frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false"  has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner2 scroller-content" id="curiosity"><p class="definitionBold">"An <a class="ttip" ng-click="transIn('inquisitive', 'curiosity')">inquisitive</a>, curious mind will help you seek out new information.  Don't be afraid to admit you don't know it all.  Always ask questions about things you don't <a class="ttip" ng-click="transIn('understand', 'curiosity')">understand</a>."</p>

                        <p class="nomargin">CURIOSITY:</p>
                        <ol>
                            <li>A desire to know or learn.</li>

                        </ol><p>Derivation/Origin: from Latin <i>curiosus</i> = inquisitive; from <i>curiosa</i> = to care.</p>
                        <p><u>Editorial Notes:</u></p>
                        <p>The more curious and inquisitive you are about something the more you will understand and potentially enjoy it. It also implies that as you learn more about something, you will find it more ‘real’ and comprehensible and you can actually use it.</p>

                        <p>If you are curious about something or somebody, if you care about them, if you understand, comprehend them, you are more able to interact with the person or thing in a constructive manner.</p>
                        <p>One additional note, as covered in the opening quote regarding the Genius Trait of Curiosity: Don’t let the idea that “you know all there is to know about something” become a barrier to actually learning new things.  Have a good estimation of what you do know but be willing to admit that there may well be some things that you could learn, study, practice and thereby increase your own competency and professionalism.  Remember by applying one’s ability to constructive causes and succeeding in ones intention for betterment, true joy and happiness are the likely outcome.</p>
                        <p>Be curious. Care about the world around you.</p>
                        <!--p><a ng-click="modalCuriosity.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p-->
                        <p>&nbsp;</p>
                    </div>

                    <div id="inquisitive-def" class="inner2" style="display: none">
                        <p class="nomargin">INQUISITIVE:</p>
                        <ol>
                            <li>Inquiring, eager for knowledge.</li>

                        </ol><p>Derivation/Origin:  from Latin <i>inquirere</i> = to inquire into, from <i>quaerere</i> = to seek.</p>
                        <a  ng-click="transOut('inquisitive', 'curiosity')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="understand-def" class="inner2" style="display: none">
                        <p class="nomargin">UNDERSTAND:</p>
                        <ol>
                            <li>Grasp the meaning of, to be thoroughly familiar with the character, nature, or subtleties of somebody or something or the cause of something.</li>
                            <li>To perceive and comprehend the nature and significance of; grasp.</li>

                        </ol><p>Derivation/Origin: from Old English <i>understanden</i> = literally 'to stand under', to know thoroughly by close contact or long experience with.</p>
                        <a  ng-click="transOut('understand', 'curiosity')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="curiosity" value="notstarted" ng-model="status.curiosity">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="curiosity" value="inprogress" ng-model="status.curiosity">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="curiosity" value="completed" ng-model="status.curiosity">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <textarea name="notesdata" class="notes curiosity" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('curiosity')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory curiosityhistory" style="height: {{notesHistHeight}}px" readonly>{{history.curiosity}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
