<ion-view title="8. ENTHUSIASM">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/enthusiasm.png" width="100%"  style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/enthusiasm.png"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost "  style="height: {{frost}}px"id="flip1">
                    <div class="inner" id="enthusiasm"><p class="definitionBold">"Geniuses are so excited about what they are doing, it <a class="ttip" ng-click="transIn('encourage', 'enthusiasm')">encourages</a> others to cooperate with them.  Really believe that things will turn out well.  Don't <a class="ttip" ng-click="transIn('holdback', 'enthusiasm')">hold back</a>."</p>
                        <p class="nomargin">ENTHUSIASM:</p>
                        <ol>
                            <li>Great excitement for or interest in a subject or cause.</li>

                        </ol><p>Derivation/Origin: from Greek <i>enthous</i> = inspired by a god from <i>en-</i> = in + <i>theos</i> = god.</p>
                    </div>
                    <div id="encourage-def" class="inner2" style="display:none">
                        <p class="nomargin">ENCOURAGE:</p>
                        <ol>
                            <li>Give hope or courage to; to give somebody hope, confidence or courage.</li>

                        </ol><p>Derivation/Origin:  from French <i>en</i> = to cause + <i>corage</i> = courage (Note: one can give encouragement and support that will increase courage in another).</p>
                        <a  ng-click="transOut('encourage', 'enthusiasm')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="holdback-def" class="inner2" style="display:none">
                        <p class="nomargin">HOLD BACK:</p>
                        <ol>
                            <li>Restrain; to keep back or restrain from doing something (especially something that is within your control).</li>
                        </ol>
                        <a  ng-click="transOut('holdback', 'enthusiasm')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="enthusiasm" value="notstarted" ng-model="status.enthusiasm">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="enthusiasm" value="inprogress" ng-model="status.enthusiasm">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="enthusiasm" value="completed" ng-model="status.enthusiasm">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes enthusiasm" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('enthusiasm')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory enthusiasmhistory" style="height: {{notesHistHeight}}px" readonly>{{history.enthusiasm}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
