<ion-view title="7. ABILITY TO JUDGE">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/judge.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/judge.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner" id="judge"><p class="definitionBold">"Try to understand the facts of a situation before you judge.  <a class="ttip" ng-click="transIn('evaluate', 'judge')">Evaluate</a> things on an opened minded, <a class="ttip" ng-click="transIn('prejudice', 'judge')">unprejudiced</a> basis and be willing to change your mind."</p>
                        <p class="nomargin">JUDGE:</p>
                        <ol>
                            <li>Form an opinion or conclusion about; decide upon, especially after thought or consideration.</li>

                        </ol><p>Derivation/Origin: from Latin <i>judex</i> = one who speaks the law, from <i>jus</i> = right, law + <i>dicere</i> to say, (with the sense 'to form an opinion about', 'make a decision about', and 'say what is right').</p>
                        <p><u>Editorial Notes:</u></p>
                                    <p>Prejudice is, then, an opinion, feeling or decision made prior to having adequate, relevant, verified data, prior to looking for oneself and being willing to hear another's point of view, prior to evaluation. </p>


                        <!--p><a ng-click="modalJudge.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p><p>&nbsp;</p-->

                    </div>
                    <div id="judge-def" class="inner2" style="display:none">
                        <p class="nomargin">JUDGE:</p>
                        <ol>
                            <li>Form an opinion or conclusion about; decide upon, especially after thought or consideration.</li>

                        </ol><p>Derivation/Origin: from Latin <i>judex</i> = one who speaks the law, from <i>jus</i> = right, law + <i>dicere</i> to say, (with the sense 'to form an opinion about', 'make a decision about', and 'say what is right').</p>
                        <a  ng-click="transOut('judge', 'judge')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="evaluate-def" class="inner2" style="display:none">
                        <p class="nomargin">EVALUATE:</p>
                        <ol>
                            <li>Examine and judge, to consider or examine something in order to judge its value, quality, importance, extent or condition.</li>

                        </ol><p>Derivation/Origin:  from French <i>evaluer</i> = to find the value of.</p>
                        <a  ng-click="transOut('evaluate', 'judge')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="prejudice-def" class="inner2" style="display:none">
                        <p class="nomargin">PREJUDICE:</p>
                        <ol>
                            <li>Any preconceived opinion or feeling, either favorable or unfavorable; an opinion formed beforehand based on insufficient knowledge, omitted data or false data.</li>

                        </ol><p>Derivation/Origin:  from Latin <i>praejudicium</i> = judgment in advance. </p>
                        <a  ng-click="transOut('prejudice', 'judge')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="judge" value="notstarted" ng-model="status.judge">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="judge" value="inprogress" ng-model="status.judge">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="judge" value="completed" ng-model="status.judge">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes judge" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('judge')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory judgehistory" style="height: {{notesHistHeight}}px" readonly>{{history.judge}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
