<ion-view title="4. KNOWLEDGE">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/knowledge.png" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/knowledge.png" ></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost "  style="height: {{frost}}px" id="flip1">

                    <div class="inner" id="knowledge"><ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px"><p class="definitionBold">"Geniuses continually accumulate information.  <a class="ttip" ng-click="transIn('never', 'knowledge')">Never</a> go to sleep at night without having learned at least one new thing that day.  Read.  And question people who know."</p>

                    <p class="nomargin">KNOWLEDGE:</p>
                    <ol>
                        <li>Knowledge is more than data; it is also the ability to draw conclusions; knowledge is <a class="ttip" ng-click="transIn('certainty', 'knowledge')">certainty</a>. </li>
                        <li>By knowledge, we mean assured belief, that which is known, information, instruction; enlightenment, learning; practical skill.</li>

                    </ol><p>Derivation/Origin: from Old English <i>cnawan</i> = to know, understand + <i>-lac</i> which denotes action or practice.</p><p>&nbsp;</p>
                </ion-scroll></div>
                    <div id="never-def" class="inner2" style="display:none">
                        <p class="nomargin">NEVER:</p>
                        <ol>
                            <li>At no time; something will not happen at any time; somebody will definitely not do something.</li>

                        </ol><p>Derivation/Origin: from Old English, from <i>ne</i> = not + <i>aefre</i> = ever.</p>
                        <a  data-role="button"  ng-click="transOut('never', 'knowledge')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="certainty-def" class="inner2" style="display:none">
                        <p class="nomargin">CERTAINTY:</p>
                        <ol>
                            <li>Confidence; a complete lack of doubt about something.     </li>

                        </ol><p>Derivation/Origin: from Latin <i>certus</i> = sure, fixed, settled, determined, from <i>cernere</i> = to distinguish, decide.</p>
                        <a  data-role="button"  ng-click="transOut('certainty', 'knowledge')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="knowledge" value="notstarted" ng-model="status.knowledge">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="knowledge" value="inprogress" ng-model="status.knowledge">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="knowledge" value="completed" ng-model="status.knowledge">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes knowledge" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('knowledge')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory knowledgehistory" style="height: {{notesHistHeight}}px"  readonly>{{history.knowledge}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
