<ion-view title="6. OPTIMISM">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/optimism.png" width="100%" style="height: {{cloner}}px"  class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/optimism.png" ></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false"  has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                <div class="inner" id="optimism"><p class="definitionBold">"Geniuses <a class="ttip" ng-click="transIn('never6', 'optimism')">never</a> <a class="ttip" ng-click="transIn('doubt', 'optimism')">doubt</a> they will succeed.  <a class="ttip" ng-click="transIn('deliberately', 'optimism')">Deliberately</a> <a class="ttip" ng-click="transIn('focus6', 'optimism')">focus</a> your mind on something good coming up."</p>
                    <p class="nomargin">OPTIMISM:</p>
                    <ol>
                        <li>Hopefulness and confidence about the future or the successful outcome of something; a tendency to expect the best possible outcome or dwell on the most hopeful aspects of a situation.</li>

                    </ol><p>Derivation/Origin: from Latin <i>optimum</i> = the greatest good, from the root <i>op-</i> = to work, produce in abundance.</p>

                    <p><u>Editorial Notes:</u></p>
                    <p><em>Focusing</em> your attention is a concept that is described in this Genius Trait but it is so simple that its power can be easily overlooked. Take for example having your attention on “a million things” and trying to get some work done as opposed to having your attention fully <em>focused</em> on the work you are doing. You can see it is much more productive to “do what one is doing, when one is doing it.” Rather than focusing on the shot they missed, the opponent or angry fans, a basketball player stands a much better chance of making a basket by <em>deliberately focusing</em> on the basketball hoop and the shot he is going to make. You tend to get what your attention is on, what you focus on.</p>
                    <p>An <em>optimist</em> would be “hopeful and confident about the future or the successful outcome of something” and “would have a tendency to expect the best possible outcome or dwell on the most hopeful aspects of a situation.” The <em>optimist</em> can envision it happening and focuses on that - <em>focus on something good coming up</em>.</p>
                    <p>Good advice. But how to apply it consistently and effectively in spite of difficulties that may arise. To do that would require more than just hope.</p>
                    <p>If we re-examine the origin of the word <em>optimism</em> we see it is from Latin <em><i>optimum</i> = the greatest good</em>. Therefore the word <em>optimist</em> implies doing something that is for the greatest good - envisioning, focusing on and doing something worthwhile. This is important and can definitely contribute to one’s optimism. But, again, to be consistently optimistic requires more.</p>
                    <p>A deeper exploration reveals that the word <em>optimism</em> derives ultimately from a root word <em><i>op-</i></em> meaning <em>‘to work, to produce in abundance, power’</em>. Op- is also the ancestor of <em>operate</em> (to be able to function effectively and appropriately). This is the key – this is “where the rubber meets the road”, one must be able to work effectively, produce to the specifications (or better) and produce in abundance what one is envisioning.</p>
                    <p>In summary, to operate with <em>optimism</em> requires envisioning a worthwhile outcome (one that is for “the greatest good”), and working effectively and producing in abundance what one is envisioning. This will help one to be able to continue to focus on the successful outcome of something in spite of obstacles or adversity – in other words, operate at a true genius-level of <em>optimism</em>.</p>
                    <p><em>Warning:</em> Extreme productivity while engaged in a worthwhile activity may cause one to experience a burst of energy and enjoyment.</p>
                    <!--p><a ng-click="modalOptimism.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p><p>&nbsp;</p-->
                </div>
                <div id="never6-def" class="inner2" style="display:none">
                    <p class="nomargin">NEVER:</p>
                    <ol>
                        <li>At no time, something will not happen at any time, or that somebody will definitely not do something.</li>

                    </ol><p>Derivation/Origin: from Old English <i>ne</i> = not + aefer = ever.</p>
                    <a  ng-click="transOut('never6', 'optimism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="doubt-def" class="inner2" style="display:none">
                    <p class="nomargin">DOUBT:</p>
                    <ol>
                        <li>Think something unlikely; to feel unconvinced or uncertain about something, or think that something is unlikely. </li>
                    </ol><p>Derivation/Origin: from Latin <i>dubitare</i> = to be uncertain, from <i>dubious</i> = uncertain.</p>
                    <a  ng-click="transOut('doubt', 'optimism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="deliberately-def" class="inner2" style="display:none">
                    <p class="nomargin">DELIBERATELY:</p>
                    <ol>
                        <li>Intentionally; in a way that is intentional and thought out in advance.  </li>

                    </ol><p>Derivation/Origin: from Latin <i>deliberare</i> = to consider, literally 'to weigh carefully', from <i>librare</i> = to weigh, from <i>libra</i> = balance.</p>
                    <a  ng-click="transOut('deliberately', 'optimism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="focus6-def" class="inner2" style="display:none">
                    <p class="nomargin">FOCUS:</p>
                    <ol>
                        <li>To concentrate specifically or directly on something, to give your main attention to one thing or one aspect of a thing.</li>

                    </ol><p>Derivation/Origin: from Latin <i>focus</i> = hearth, fireplace, perhaps because it was the 'center' of the home.</p>
                    <a  ng-click="transOut('focus6', 'optimism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="optimism" value="notstarted" ng-model="status.optimism">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="optimism" value="inprogress" ng-model="status.optimism">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="optimism" value="completed" ng-model="status.optimism">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes optimism" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('optimism')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory optimismhistory" style="height: {{notesHistHeight}}px"  readonly>{{history.optimism}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
