<ion-view title="15. PATIENCE">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/patience.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="frost" style="height: {{frost}}px"><img src="images/patience.jpg" style="position: relative;margin: 37% 0%;width:100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <div class="inner" id="patience"><p class="definitionBold">"Be patient with others most of the time, but always be <a class="ttip" ng-click="transIn('impatient', 'patience')">impatient</a> with yourself.  Expect far more of yourself than others."</p>
                        <p class="nomargin">PATIENCE:</p>
                        <ol>
                            <li>The capacity to accept or tolerate delay, trouble, or suffering without getting angry or upset.</li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>pati</i> = to suffer, endure (without complaint).</p>
                    </div>
                    <div id="patient-def" class="inner2" style="display:none">
                        <p class="nomargin">PATIENCE:</p>
                        <ol>
                            <li>The capacity to accept or tolerate delay, trouble, or suffering without getting angry or upset.</li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>pati</i> = to suffer, endure (without complaint).</p>
                        <a  ng-click="transOut('patient', 'patience')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="impatient-def" class="inner2" style="display:none">
                        <p class="nomargin">IMPATIENT:</p>
                        <ol>
                            <li>Eager, eager to do something immediately and unwilling to wait.</li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>im</i> = not and <i>pati</i> = to suffer, endure (without complaint).</p>
                        <a  ng-click="transOut('impatient', 'patience')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="patience" value="notstarted" ng-model="status.patience">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="patience" value="inprogress" ng-model="status.patience">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="patience" value="completed" ng-model="status.patience">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes patience" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button " on-tap="saveNote('patience')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory patiencehistory" style="height: {{notesHistHeight}}px" readonly>{{history.patience}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
