<ion-view title="17. PERFECTIONISM">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/perfectionism.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/perfectionism.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner2" id="perfectionism"><p class="definitionBold">"Geniuses cannot tolerate <a class="ttip" ng-click="transIn('mediocrity', 'perfectionism')">mediocrity</a>, particularly in themselves.  Never be easily satisfied with yourself.  Always <a class="ttip" ng-click="transIn('strive', 'perfectionism')">strive</a> to do better."</p>
                        <p class="nomargin">PERFECTIONISM:</p>
                        <ol>
                            <li>A personal standard, attitude, or philosophy that demands perfection and rejects anything less. </li>
                        </ol>
                        <p class="nomargin">PERFECTION:</p>
                        <ol>
                            <li>Example or instance of being perfect, somebody or something that reaches the highest attainable standard, or an instance of this. </li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>perficere</i> = to make completely, finish, from <i>facere</i> = to make.</p><p>&nbsp;</p>
                    </div>

                    <div id="mediocrity-def" class="inner2" style="display: none">
                        <p class="nomargin">MEDIOCRITY:</p>
                        <ol>
                            <li>Averageness, a quality that is acceptable but not very good. </li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>mediocris</i> = literally, 'middle of a rugged mountain', hence 'in a middle state' or 'at middle height', (with the concept that, if one were climbing a rugged mountain, and the going got too rough, one would give up and stop half-way up the mountain rather than push to actually reach the summit).</p>
                        <a  ng-click="transOut('mediocrity', 'perfectionism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="strive-def" class="inner2" style="display: none">
                        <p class="nomargin">STRIVE:</p>
                        <ol>
                            <li>Try hard to achieve or get something, exert much effort or energy.</li>

                        </ol>
                        <p>Derivation/Origin: from Old French <i>estriver</i> = to quarrel, dispute. (Note: This implies going towards a goal in spite of obstacles, hence contending or fighting these obstacles or any opponents.)</p>
                        <a  ng-click="transOut('strive', 'perfectionism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="perfectionism" value="notstarted" ng-model="status.perfectionism">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="perfectionism" value="inprogress" ng-model="status.perfectionism">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="perfectionism" value="completed" ng-model="status.perfectionism">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes perfectionism" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button " on-tap="saveNote('perfectionism')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory perfectionismhistory" style="height: {{notesHistHeight}}px" readonly>{{history.perfectionism}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
