<ion-view title="12. PERSUASION">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/persuasion2.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="frost" style="height: {{frost}}px"><img src="images/persuasion2.jpg" style="position: relative;margin: 50% 0%;width:100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner2" id="persuasion"><p class="definitionBold">"Geniuses know how to <a class="ttip" ng-click="transIn('motivate', 'persuasion')">motivate</a> people to help them get ahead.  You'll find it easy to be persuasive if you <a class="ttip" ng-click="transIn('believe', 'persuasion')">believe in</a> what you are doing."</p>
                        <p class="nomargin">PERSUADE:</p>
                        <ol>
                            <li>To get somebody to do something; to successfully urge somebody to perform a particular action, especially by reasoning, pleading or coaxing. </li>
                            <li>To convince somebody or something; to make somebody believe something, especially by giving good reasons for doing so. </li>

                        </ol><p>Derivation/Origin: from Latin <i>persuadere</i> persuade, literally 'to urge strongly', from <i>per-</i> thoroughly + <i>suadere</i> to urge, to advise, recommend as good.</p>
                        <p><u>Editorial Notes:</u></p>
                                    <p>Even though they may not be scientifically susceptible to proof, one’s beliefs can be powerful in terms of accomplishing one’s goals and in persuading or motivating others. One has the right to believe as one chooses (even if others disagree). And one has the right to communicate what one believes to others. It follows then that the best approach regarding others is to be tolerant of their beliefs. </p>
                                    <p>&nbsp;</p>
                        <!--p><a ng-click="modalPersuasion.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p><p>&nbsp;</p-->
                    </div>
                    <div id="motivate-def" class="inner2" style="display:none">
                        <p class="nomargin">MOTIVATE:</p>
                        <ol>
                            <li>Make somebody willing; to make somebody feel enthusiastic, interested and committed to; provide with an incentive; move to action; impel toward accomplishing something.</li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>movere</i> = to move.</p>
                        <a  ng-click="transOut('motivate', 'persuasion')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="believe-def" class="inner2" style="display:none">
                        <p class="nomargin">BELIEVE:</p>
                        <ol>
                            <li>To accept something as true, genuine, or real; feel sure of the truth of, without absolute proof to verify it. </li>

                        </ol>
                        <p>Derivation/Origin:  from Old English <i>belyfan</i>, ultimately from a prehistoric Germanic word meaning 'to love, trust'. </p>
                        <p class="nomargin">BELIEVE IN:</p>
                        <ol>
                            <li>Trust; to have confidence or conviction that somebody or something is genuine or real, or will be effective.  </li>
                        </ol>
                        <a  ng-click="transOut('believe', 'persuasion')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="persuasion" value="notstarted" ng-model="status.persuasion">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="persuasion" value="inprogress" ng-model="status.persuasion">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="persuasion" value="completed" ng-model="status.persuasion">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes persuasion" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button " on-tap="saveNote('persuasion')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory persuasionhistory" style="height: {{notesHistHeight}}px" readonly>{{history.persuasion}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
