body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

i {
    font-style: italic;`
}
u {
    font-style: underline;
}
em {
    font-weight: bold;
}

h2 {
    font-weight: 800;
    margin-bottom: 17px;
}
ol {
  list-style-type: disc;
  margin-bottom: 10px;
}
ol li {
  text-align: left;
  list-style: none;

}
ol + p {
    margin: 20px 0 20px 0;
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0 0 20px;
}
li {
    font-size: 1.2em;
    line-height: 1.3em;
}

footer{
	position:absolute;
	height:75px;
	width:100%;
	top:72px;
	z-index:1;
	margin:0;
	padding:0;
	overflow:hidden;
	border-top:1px rgba(255,255,255,.7) solid;
}
div.footer{
	position:absolute;
	height:75px;
	width:246px;
	bottom:5px;
	z-index:1;
	margin:0;
	padding:0;
	overflow:hidden;
	border-top:1px rgba(255,255,255,.7) solid;
}
div.footer .inner{
	position:absolute;
	height:100%;
	width:100%;
	background:rgba(255,255,255,.7);
	z-index:2;
    color: #000;
    white-space: normal;
}
div.footer .inner2{
	position:absolute;
	height:100%;
	width:130px;
	background:rgba(255,255,255,.7);
	z-index:2;
    color: #000;
    text-align: center;
    font-weight: bold;
}

footer .inner{
	position:absolute;
	height:100%;
	width:149px;
	background:rgba(255,255,255,.5);
	z-index:2;
    color: #000;
}

div.frost{
	position:relative;
	min-height:400px;
	width:93%;
	top:5px;
	z-index:4 !important;
	margin:0 10px 14px 13px;
	overflow:hidden;
    white-space: normal;
    background:rgba(255,255,255,.8);
    border-radius: 13px;
    -webkit-border-radius: 13px;
    box-shadow: 0px 0px 5px 4px rgba(217,210,217,1);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(217,210,217,1);
}
div.frost .inner{
	position:absolute;
	min-height:375px;
	width:100%;
	z-index:2;
    color: #000;
    margin: 0;
    padding:7px !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
div.frost .inner2{
	position:absolute;
	min-height:375px;
	width:100%;
	z-index:2;
    color: #000;
    display: block;
    margin: 0;
    padding:7px !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;

}


.nomargin {
    margin: 0 !important;
}


.definition {
    font-size: 1.4em;
}
.definitionBold {
    font-size: 1.4em;
    font-weight: bold;
}

.photo2 {
    height: 413px;
    background-color: rgba(255,255,255,.8);
    overflow: hidden;
    text-align: center;
    position: relative;
}
.photo2 img {

  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.ion-android-system-back {
    font-size: 2em;
}

.slider-pager {
    bottom: 14px;
} 

.viewport{
/*	width:320px;
	height:480px; */

	margin:5px;
	padding:0;
}
.page{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	position:relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.cloner{
	-webkit-filter:blur(4px);
    position: absolute;
}

.ttip {
    text-decoration: underline  !important;
    background: none  !important;
    border: none  !important;
    box-shadow: none  !important;
    padding: 0  !important;
}
.hero{
    width: 100% !important;
    height: 86px !important;
}

.row {
    text-align: center;
	width: 100%;
}
.row .viewport {
    display: inline-block;
}

.herobtm {
    margin-bottom: 10px;
}

.button:not(.back-button):not(.ion-navicon):not(.button-dark) {
    padding: 0 25px !important;
    background-color: #003e74  !important;
    color: #FFF !important;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    box-shadow: 0px 0px 5px 4px rgba(217,210,217,1) !important;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(217,210,217,1) !important;
}

.nav-button {
    background-color: transparent !important;
}

.container, .pane{
    background:#003e74;
}


.blackOnWhite {
    color: #000;
    background: #FFF;
}

.notes {
    width: 90%;
    min-height: 150px;
    margin: 15px auto;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 4px;
    box-shadow: 0px 0px 5px 4px rgba(217,210,217,1);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(217,210,217,1);
}
.noteshistory {
    width: 90%;
    min-height: 320px;
    margin: 15px auto;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 4px;
    box-shadow: 0px 0px 5px 4px rgba(170,176,182,1);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(170,176,182,1);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    color: #636363;
}
.noteform div{
    text-align: left;
    margin: 0 29%;
}

textarea[disabled] {
    color: #636363;
}
textarea[readonly] {
    color: #636363;
}
.popup-head {
    background: #003e74;
    color: #FFFFFF;
}
.popup-head h3{
    color: #FFFFFF;
}
#chart {
    height: 246px;

}


.bar.bar-positive {
    border-color: #003e74;
    background-color: #003e74;
    background-image: linear-gradient(0deg, #005FB3, #005FB3 50%, transparent 50%);
    color: #fff;
}

.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #003e74;
}
.navbackground, .navbackground .pane, .navbackground .item, .navbackground .item-complex .item-content{
    background-color: #003e74;
    color: #FFFFFF;
}

/* IMAGE STYLES*/
img.resizable {
    max-width: 100%;
    height: 100%;
}
.pull-left {
    float: left;
}

.clear { clear: both;}

.position-left {
    float: left;
}

.position-right {
    float: right;
}
.centered {
  position: relative !important;
    margin: 0 auto !important;
    display: block;
    text-align: center;
}
.centered-vertical {
  position: relative !important;
    margin: 0 auto !important;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.noteform .item {
    width: 150px;
    margin: 0 auto;
    border: 0;
}
.noteform .item-radio {
    padding: 0;
    background-color: inherit !important;
}

.noteform .item-radio .item-content {
    padding: 0;
    margin: 0 0 0 20px;
    background-color: inherit !important;
    vertical-align: top;
}
.noteform .item-radio input:checked ~ .item-content {

}
.noteform .item-radio .radio-icon {
    font-size: 20px;
    right: initial;
    left: 25px;
    padding: 0;
}


/* fixed width circle */
.circle {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4679BD;
    float:left;
    margin-left: 9px;
}
/* responsive circle */
.circle-text {
    width:6%;
    float: left;
}
.circle-text:after, .circle:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div, .circle div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

#drive, #drive-def,#courage, #courage-def, #devotion, #devotion-def, #knowledge, #knowledge-def, #honesty, #honesty-def, #optimism, #optimism-def, #judge, #judge-def, #enthusiasm, #enthusiasm-def, #takechances, #takechances-def, #energy, #energy-def, #persuasion, #persuasion-def, #outgoingness, #outgoingness-def, #communicate, #communicate-def, #patience, #patience-def, #perfectionism, #perfectionism-def, #humor, #humor-def, #versatility, #versatility-def, #adaptability, #adaptability-def, #curiosity, #curiosity-def, #individualism, #individualism-def, #idealism, #idealism-def, #imagination, #imagination-def{
   padding: 1px;
}

.editorialnotes---{
    position: absolute;
    bottom: 0;
    text-decoration: underline;
    width: 100%;
    z-index: 4;
    left: 35%;
}
.editorialnotes{

    text-decoration: underline;

}
/*
.modal {
    height: 300px;
    width: 95%;
    margin-left: 3%;
    border-radius: 10px;
}
*/

[data-badge] {
  position: relative;
}

/* append the notification badge after it */
[data-badge]:after {

  /* the burger */
  content: attr(data-badge);

  /* the fries */
  position: absolute;
  background: red;
  border-radius: 50%;
  display: inline-block;
  padding: 0 0.3em;
  color: #f2f2f2;
  left: -5px;
  top: -5px;
  z-index: 10;
}

/*div[data-badge='1']:after  {
    background: green;
} */
.green { background: green;}
.red { background: red;}
.yellow { background: yellow;}

div[id^="status-"] {
    position: absolute;
    left: 10px;

}
/*
div[id^="enotes"]  {
    color: #FFF;
    background: #003e74;
}
*/
.icon-notstarted {
    background: red;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #f2f2f2;
    z-index: 10;
    margin-right: 4px;
}
.icon-inprogress {
    background: yellow;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #f2f2f2;
    z-index: 10;
    margin-right: 4px;
}
.icon-completed {
    background: green;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #f2f2f2;
    z-index: 10;
    margin-right: 4px;
}
