<ion-view title="20. ADAPTABILITY">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/adaptability.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div  class="photo2 frost" style="height: {{frost}}px"><img src="images/adaptability.jpg" width="100%" height="105%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner2 scroller-content" id="adaptability"><p class="definitionBold">"Being <a class="ttip" ng-click="transIn('flexible', 'adaptability')">flexible</a> enables you to adapt to changing circumstances readily.  <a class="ttip" ng-click="transIn('resist', 'adaptability')">Resist</a> doing things the same old way.  Be willing to consider new options."</p>
                        <p class="nomargin">ADAPTABILITY:</p>
                        <ol>
                            <li>Able to change easily to meet different requirements, able to adjust to meet new conditions or changes in the environment.</li>
                            <li>Change in behavior of a person or group in response or adjustment to a new or modified surrounding or condition.</li>

                        </ol><p>Derivation/Origin: from Latin <i>adaptare</i> = literally to 'fit to' (meaning to fit something for some purpose), from ultimately <i>aptus</i> = 'fitted' (meaning to undergo modification so as to fit new circumstances). </p><p>&nbsp;</p>
                    </div>

                    <div id="flexible-def" class="inner2" style="display: none">
                        <p class="nomargin">FLEXIBLE:</p>
                        <ol>
                            <li>Able to adapt to new situation, able to change or be changed according to circumstances.</li>

                        </ol><p>Derivation/Origin: from Latin <i>flectere</i> = to bend.</p>
                        <a  ng-click="transOut('flexible', 'adaptability')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="resist-def" class="inner2" style="display: none">
                        <p class="nomargin">RESIST:</p>
                        <ol>
                            <li>To refuse to give in to something, to refuse to accept something and try to stop it from happening.</li>

                        </ol><p>Derivation/Origin: from Latin <i>resistere</i> = literally to 'stand against.'</p>
                        <a  ng-click="transOut('resist', 'adaptability')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="adaptability" value="notstarted" ng-model="status.adaptability">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="adaptability" value="inprogress" ng-model="status.adaptability">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="adaptability" value="completed" ng-model="status.adaptability">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <textarea name="notesdata" class="notes adaptability" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('adaptability')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory adaptabilityhistory" style="height: {{notesHistHeight}}px" readonly>{{history.adaptability}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
