<ion-view title="14. ABILITY TO COMMUNICATE">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/communicate.jpg" width="100%"  style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="frost" style="height: {{frost}}px"><img src="images/communicate.jpg" style="position: relative;margin: 40% 0%;width:100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip12">
                <div class="inner" id="communicate"><p class="definitionBold">"Geniuses are able to effectively get their ideas across to others.  Take every opportunity to explain your ideas to others."</p>
                    <p class="nomargin">COMMUNICATE:</p>
                    <ol>
                        <li>Share or exchange information, news or ideas. </li>
                        <li>To express thoughts, feelings, or information easily or effectively.</li>
                        <li>To impart knowledge of; make known to.</li>

                    </ol>
                    <p>Derivation/Origin: from Latin <i>communicare</i> = to share.</p>
                </div>

                <div id="work-def" class="inner2" style="display:none">
                    <p class="nomargin">WORK:</p>
                    <ol>
                        <li>Physical or mental effort or activity directed toward the production or accomplishment of something.</li>
                        <li>To cause or effect, bring about.</li>

                    </ol><p>Derivation/Origin: from Old English <i>weorc</i> = action, accomplishment.</p>
                    <a    ng-click="transOut('work', 'communicate')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="hard-def" class="inner2" style="display:none">
                    <p class="nomargin">HARD:</p>
                    <ol>
                        <li>Durable and persistent.</li>
                        <li>Performing energetically; acting or producing something with energy or industriousness.</li>

                    </ol><p>Derivation/Origin: from Old English <i>heard</i> = ultimately meaning 'resistant to pressure', from a root word meaning 'strength'.</p>
                    <a    ng-click="transOut('hard', 'communicate')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="focus-def" class="inner2" style="display:none">
                    <p class="nomargin">FOCUS:</p>
                    <ol>
                        <li>To concentrate mainly on something, to give your main attention to one thing or one aspect of a thing.</li>

                    </ol><p>Derivation/Origin: from Latin <i>focus</i> = hearth, fireplace, perhaps because it was the 'center' of the home.</p>
                    <a    ng-click="transOut('focus', 'communicate')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="communicate" value="notstarted" ng-model="status.communicate">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="communicate" value="inprogress" ng-model="status.communicate">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="communicate" value="completed" ng-model="status.communicate">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <textarea name="notesdata" class="notes communicate" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <p><button class="button" on-tap="saveNote('communicate')">Save</button></p>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory communicatehistory" style="height: {{notesHistHeight}}px" readonly>{{history.communicate}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
