<ion-view title="2. COURAGE">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/courage.png" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/courage.png" ></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">

                <div class="inner" id="courage"><p class="definitionBold">"It takes courage to do things others consider impossible. Stop worrying what people will think if you are different."</p>
                    <p  class="nomargin">COURAGE:</p>
                    <ol>
                        <li>The state or quality of mind or spirit that enables one to face danger, fear, change, variation, with confidence and resolution; mental or moral strength to venture, persevere, and withstand danger, fear, or difficulty.</li>
                        <li>Bravery. "Courage – arises in the heart &amp; soul and requires belief – the ability to believe."</li>

                    </ol><p>Derivation/Origin: from Latin <i>cor</i> = heart.</p>
                    <p><u>Editorial Notes:</u></p>
        <p>Confidence is a reflection of the degree of trust in oneself or in another. The act of honoring one's commitments, doing what one has agreed to do, builds trust. And if one does not, it destroys trust. Promising to do something (even if just to yourself) and then doing it builds self-confidence. One can always rebuild trust and/or take trust to a higher level.</p>

        <p>The derivation of courage is from Latin <i>cor</i> = heart, which remains a common symbol for inner strength, hence bravery. Courage comes from within.</p>
        <p>When we hear the word courage or bravery, we consider ‘Not compromising one’s ideals’ in the face of trouble or temptation. And being willing to give one’s life for a cause, or to save another’s life is an extreme example of courage. But if we only concentrate on the dramatic, we can miss some examples that, even if they occur quietly, can be just as important, sometimes more so.</p>
        <p>Courage can be standing up for what one believes is right. It can be facing something that is not easy for you to face. It can be speaking out in a group, especially if what you are saying is not popular. It can be saying “No.” when someone is trying to get you to do something you don’t think is right. It can be accepting a stiff challenge in the face of others doubting you will be successful. It can be handling a difficult client or junior. Or it can even be speaking up to your boss if you have a different view on how something should be handled.</p>
        <p>There is a phrase:  <em><i>have the courage of one's convictions</i></em>, which means “to act in accordance with one's beliefs, especially in spite of criticism.” Confidence, belief, self-assurance, purpose, as mentioned above, all are tied in with having courage.</p>
        <!--p><a ng-click="modalCourage.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p-->
        <p>&nbsp;</p>
                </div>
                <div id="courage-def" class="inner2" style="display:none">
                    <p class="nomargin">COURAGE:</p>
                    <ol>
                        <li>The state or quality of mind or spirit that enables one to face danger, fear, change, variation, with confidence and resolution; mental or moral strength to venture, persevere, and withstand danger, fear, or difficulty.</li>
                        <li>Bravery. "Courage – arises in the heart &amp; soul and requires belief – the ability to believe."</li>

                    </ol><p>Derivation/Origin: from Latin cor = heart.</p>
                    <a  data-role="button"  ng-click="transOut('courage', 'courage')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="courage" ng-model="status.courage" value="notstarted">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="courage" value="inprogress"  ng-model="status.courage" >
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="courage" value="completed"  ng-model="status.courage" >
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes courage" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('courage')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory couragehistory" style="height: {{notesHistHeight}}px" readonly>{{history.courage}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
