<ion-view title="11. ENTERPRISE">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/enterprise.jpg" width="100%"  style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/enterprise.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost "  style="height: {{frost}}px" id="flip1">
                    <div class="inner2" id="enterprise"><p class="definitionBold">"Geniuses are <a class="ttip" ng-click="transIn('opportunity', 'enterprise')">opportunity</a> seekers.  Be willing to take on jobs others won't touch.  Never be afraid to try the <a class="ttip" ng-click="transIn('unknown', 'enterprise')">unknown</a>."</p>
                        <p class="nomargin">ENTERPRISE:</p>
                        <ol>
                            <li>Energetic confidence, readiness to put effort into new, and often risky, ventures or activities. </li>
                            <li>Initiative and resourcefulness.</li>

                        </ol><p>Derivation/Origin: from Latin <i>inter-</i> among + <i>prehendre</i> to take.</p>
                    </div>
                    <div id="unknown-def" class="inner2" style="display:none">
                        <p class="nomargin">UNKNOWN:</p>
                        <ol>
                            <li>A thing, influence, area, factor or person that is not known, not within the range of one's knowledge, experience or understanding; strange, unfamiliar, not discovered or explored.</li>

                        </ol>
                        <p>Derivation/Origin: from Old English <i>ungecnawen</i> = unknown person.</p>
                        <a  ng-click="transOut('unknown', 'enterprise')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="opportunity-def" class="inner2" style="display:none">
                        <p class="nomargin">OPPORTUNITY:</p>
                        <ol>
                            <li>A situation or condition favorable for the attainment of a goal, a chance, especially one that offers some kind of advantage.</li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>opportunus</i> = favorable (used of the wind), from <i>ob portum veniens</i> = coming towards port, (the broader sense is that "port" is one's destination or goal and, in this case, conditions are favorable to or helping one reach that destination or goal). </p>
                        <a  ng-click="transOut('opportunity', 'enterprise')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="enterprise" value="notstarted" ng-model="status.enterprise">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="enterprise" value="inprogress" ng-model="status.enterprise">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="enterprise" value="completed" ng-model="status.enterprise">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes enterprise" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('enterprise')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory enterprisehistory" style="height: {{notesHistHeight}}px" readonly>{{history.enterprise}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
