<ion-view title="GENIUS">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/screen1.png" width="100%"  style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/genius-slide.jpg"  width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost "  style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false"  has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                        <div class="inner2" id="genius"><p class="definitionBold">"All people are born with the seed of genius within them.  Via <a class="ttip" ng-click="transIn('observation', 'genius')">observation</a>, <a class="ttip" ng-click="transIn('study', 'genius')">study</a> and <a class="ttip" ng-click="transIn('practice', 'genius')">practice</a>, <a class="ttip" ng-click="transIn('attention', 'genius')">attention</a> and <a class="ttip" ng-click="transIn('intention', 'genius')">intention</a> genius <a class="ttip" ng-click="transIn('manifest', 'genius')">manifests</a> itself."</p>

                            <p class="nomargin">GENIUS:</p>
                            <ol>
                                <li>Extraordinary intellectual &amp; creative power. </li>
                                    <li>A person of extraordinary intellect and talent. </li>

                                    </ol>
                                    <p>Derivation/Origin: from Latin <i>genius</i> = guardian spirit of a person, literally 'inborn nature', 'a person's natural ability', procreative divinity, spirit.</p>
                                    <p><em>"Achieving innovation and happiness through <a class="ttip" ng-click="transIn('invoking', 'genius')">invoking</a> the characteristics of genius <a class="ttip" ng-click="transIn('inherent', 'genius')">inherent</a> in every human," is what Pharmacyclics desires for each and every employee.</em> <small>–Bob Duggan, CEO &amp; Chairman of Pharmacyclics Inc. 2/2014</small></p>
                                    <p><u>Editorial Notes:</u></p>
                                    <p>To better understand the full concept of the Genius the following notes are added. When people think of genius the attention generally focuses on the outer manifestation of genius, in other words the creations: the art, the music, the architecture, the breakthroughs in science and what has been accomplished with those breakthroughs - computers, cell phones, putting a man on the moon, workable medication for cancer, etc. What is often overlooked is where these brilliant creations come from. Hence, a person can easily think that if they have not yet created something like that they never will and are, therefore, not a genius. One of the prevalent ideas is that one is either miraculously blessed with genius or one will never have it. </p>
                                    <p>But taking another look, even the derivation of the word genius carries with it the concept that it is inherent in all of us. "Inborn nature" and "a person's natural inborn character" both clearly point to the idea that genius comes from within and is natural. The concept of the derivation also includes the term "spirit". One definition of spirit is "the intelligent or sentient (aware) part of a person." So if we take it as the essence of the person, the intelligent part that is aware of being aware, we see there the potential of genius as well.</p>
                                    <p>With observation, study and practice, attention and intention the genius within will manifest itself. Use this app to directly tackle genius as it pertains to you. </p>

                                    <!--p><a ng-click="modalGenius.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p><p>&nbsp;</p-->
                                    </div>
                                    <div id="genius-def" class="inner2" style="display:none">
                                    <p class="nomargin">GENIUS:</p>
                                    <ol>
                                    <li>Extraordinary intellectual &amp; creative power. </li>
                                    <li>A person of extraordinary intellect and talent. </li>

                                    </ol>
                                    <p>Derivation/Origin: from Latin <i>genius</i> = guardian spirit of a person, literally 'inborn nature', 'a person's natural ability', procreative divinity, spirit.</p>
                                    <a  ng-click="transOut('genius', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                                    </div>
                                    <div id="observation-def" class="inner2" style="display:none">
                                    <p class="nomargin">OBSERVATION:</p>
                                    <ol>
                                    <li>The act of seeing or noticing something, especially while watching carefully.</li>

                                    </ol>
                                    <p>Derivation/Origin: from Latin <i>observare</i> = literally 'to watch towards' from <i>servare</i> = to watch, pay attention. </p>
                                    <p>NOTE: See what you see, not what someone else tells you that you see. What you observe is what you observe. Look at things and life and others directly, not influenced by prejudice, fear or the interpretation of another.</p>
                                    <a  ng-click="transOut('observation', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                                    </div>
                                    <div id="study-def" class="inner2" style="display:none">
                                    <p class="nomargin">STUDY:</p>
                                    <ol>
                                    <li>To read and examine for the purpose of learning and understanding.</li>

                                    </ol>
                                    <p>Derivation/Origin: from Latin <i>studium</i> = zeal, care, from <i>studere</i> = to be diligent. </p>
                                    <p>NOTE: Learning is not just getting more and more facts. Learning is understanding new things and getting better ways to do things. It requires interest and is most effective when one has an idea of what one wants to do with what one is learning. The purpose of study is truly understanding and being able to apply. </p>
                                    <a  ng-click="transOut('study', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                                    </div>

                                    <div id="invoking-def" class="inner2" style="display:none">
                                        <p class="nomargin">INVOKE:</p>
                                        <ol>
                                            <li>To create or arouse an idea, emotion, or image. </li>
                                        </ol>
                                        <p>Derivation/Origin:  from Latin <i>invocare</i> = to call upon.</p>
                                        <a  ng-click="transOut('invoking', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                                    </div>
                                    <div id="inherent-def" class="inner2" style="display:none">
                                        <p class="nomargin">INHERENT:</p>
                                        <ol>
                                            <li>Existing in someone or something as a permanent and inseparable element, quality, or attribute.</li>
                                        </ol>
                                        <p>Derivation/Origin: from Latin <i>inhaerere</i> = to stick to.</p>

                                        <a  ng-click="transOut('inherent', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                                    </div>


                                <div id="attention-def" class="inner2" style="display:none">
                                    <p class="nomargin">ATTENTION:</p>
                                    <ol>
                                    <li>Mental focus, serious consideration, or concentration.</li>
                                    <li>Notice or interest.</li>

                                </ol>
                                    <p>Derivation/Origin: from Latin <i>attendere</i> = literally 'to reach towards', from <i>ad-</i> = to, toward, with regard to, in relation to + <i>tendere</i> = to stretch, extend, (the notion is to stretch one's mind towards something).</p>
                                    <a  ng-click="transOut('attention', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                                    </div>
                                <div id="intention-def" class="inner2" style="display:none"><ion-scroll zooming="false" style="width: 100%;">
                                    <p class="nomargin">INTENTION:</p>
                                    <ol>
                                    <li>Quality of purposefulness; quality or state of having a definite purpose in mind.</li>
                                <li>Aim or objective; something that somebody plans to do or achieve.</li>

                            </ol>
                            <p>Derivation/Origin: from Latin <i>intendere</i> = stretching, intensity, will, thought, literally 'to stretch toward', from <i>in-</i> = towards + <i>tendere</i> = to stretch, extend (one's will or thought). There is also a related root that has the sense 'to have as a plan'.</p>
                            <p>NOTE: Intention is what will cause something to happen or bring about a result. If there is no intention it is very unlikely that what one desires will occur. With intention perhaps anything is possible.</p>
                            <a  ng-click="transOut('intention', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                            <p>&nbsp;</p>
                        </ion-scroll></div>
                        <div id="manifest-def" class="inner2" style="display:none">
                            <p class="nomargin">MANIFEST:</p>
                            <ol>
                                <li>To appear or be revealed. </li>

                            </ol>
                            <p>Derivation/Origin:  from Latin <i>manifestus</i> = literally 'seized by hand'.</p>
                            <a  ng-click="transOut('manifest', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                        </div>
                        <div id="practice-def" class="inner2" style="display:none"><ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                            <p class="nomargin">PRACTICE:</p>
                            <ol>
                                <li>To exercise or perform repeatedly in order to acquire or polish a skill. </li>

                            </ol>
                            <p>Derivation/Origin:  from Greek <i>practikos</i> = practical, from <i>prattein</i> = to do. </p>
                            <p>NOTE: Learning bears fruit when it is applied. And any activity, skill or profession requires that one can actually DO it. Practice is the doorway to true professionalism. To reach the highest levels of competency requires practice, practice, practice. This applies not only to crafts and professions that require physical skills, such as playing the piano or carpentry, but also those that mainly use the mind, such as an executive, scientist, salesman or someone handling public relations. </p>
                            <a  ng-click="transOut('practice', 'genius')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                            <p>&nbsp;</p>
                        </ion-scroll></div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="genius" value="notstarted" ng-model="status.genius">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="genius" value="inprogress" ng-model="status.genius">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="genius" value="completed" ng-model="status.genius">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes genius" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('genius')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory geniushistory" style="height: {{notesHistHeight}}px" readonly>{{history.genius}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
