<ion-view title="23. IDEALISM">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/idealism.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class=" frost" style="height: {{frost}}px"><img src="images/idealism.jpg" style="width: 100%;"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <div class="inner2 scroller-content" id="idealism"><p class="definitionBold">"Keep your <a class="ttip" ng-click="transIn('feetontheground', 'idealism')">feet on the ground</a> – but have your <a class="ttip" ng-click="transIn('headintheclouds', 'idealism')">head in the clouds</a>.  <a class="ttip" ng-click="transIn('strive2', 'idealism')">Strive</a> to achieve great things, not just for yourself, but for the betterment of mankind."</p>
                        <p class="nomargin">IDEALISM:</p>
                        <ol>
                            <li>The cherishing or pursuit of high or noble principles, purposes, goals, etc.</li>

                        </ol><p>Derivation/Origin: Latin <i>idea</i> = idea, from Greek <i>idein</i> = to see, appearance, mental image, notion.</p>
                    </div>

                    <div id="feetontheground-def" class="inner2" style="display: none">
                        <p class="nomargin">FEET ON THE GROUND:</p>
                        <ol>
                            <li>A realistic understanding of your own ideas, actions, and decisions.  </li>
                        </ol>
                        <a  ng-click="transOut('feetontheground', 'idealism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="headintheclouds-def" class="inner2" style="display: none">
                        <p class="nomargin">HEAD IN THE CLOUDS:</p>
                        <ol>
                            <li>To imagine or conceive of things and conditions not yet real or in existence. To be thinking about futures, possible or not yet thought to be possible.</li>
                        </ol>
                        <a  ng-click="transOut('headintheclouds', 'idealism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="strive2-def" class="inner2" style="display: none">
                        <p> class="nomargin"STRIVE:</p>
                        <ol>
                            <li>Try hard to achieve or get something, exert much effort or energy.</li>

                        </ol><p>Derivation/Origin: from Old French <i>estriver</i> = to quarrel, dispute. (Note: This implies going towards a goal in spite of obstacles, hence contending or fighting these obstacles or any opponents.)</p>
                        <a  ng-click="transOut('strive2', 'idealism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="idealism" value="notstarted" ng-model="status.idealism">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="idealism" value="inprogress" ng-model="status.idealism">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="idealism" value="completed" ng-model="status.idealism">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes idealism" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('idealism')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory idealismhistory" style="height: {{notesHistHeight}}px" readonly>{{history.idealism}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
