<ion-view title="Browse">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
  <div class="buttons" side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </div>
  <ion-content class="has-header">
    <h1>Browse</h1>
    <div class="container ">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div style="position: relative"><a href="#drawer-genius" >
                    <img src="images/screen1.png" style="width: 280; height: 246px" >
                        <div class="footer hero ">
                            <div class="inner">All people are born with the seed of genius within them.
                                Via observation, study, practice, attention and intention
                                genius manifests itself. </div>
                        </div>
                        </a>
                </div>
            </ion-slide>
            <ion-slide>
                <div id="chart"></div>
            </ion-slide>

        </ion-slide-box>



        <div class="row">
            <div class="viewport " data-badge="1">
                <section class="page">
                    <a href="#drawer-drive" >
                        <div class="content" id="scroller">
                            <img src="images/drive.jpg"  width="130" height="130" >
                                <div style="position: relative" >
                                    <div class="footer ">
                                        <div class="inner2">Drive</div>
                                    </div>
                                </div>
                                </div>

                    </a>
                </section>
            </div>
            <div  class="viewport " data-badge="2">
                <section class="page">
                    <a href="#drawer-courage" >
                        <div class="content" id="scroller">
                            <img src="images/courage.png"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">Courage</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                </section>
            </div>
            <div class="clear"></div>
        </div>

        <div class="row">
            <div  class="viewport"  data-badge="3">
                <section class="page"><a href="#drawer-devotion" >
                    <div class="content" id="scroller">
                        <img src="images/devotion.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Devotion</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div class="viewport" data-badge="4">
                <section class="page"><a href="#drawer-knowledge" >
                    <div class="content" id="scroller">
                        <img src="images/knowledge.png"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Knowledge</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div class="clear"></div>
        </div>

        <div class="row">
            <div  class="viewport" data-badge="5">
                <section class="page"><a href="#drawer-honesty" >
                    <div class="content" id="scroller">
                        <img src="images/honesty.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Honesty</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div  class="viewport" data-badge="6">
                <section class="page"><a href="#drawer-optimism" >
                    <div class="content" id="scroller">
                        <img src="images/optimism.png"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Optimism</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div class="clear"></div>
        </div>

        <div class="row">
            <div  class="viewport" data-badge="7">
                <section class="page"><a href="#drawer-judge" >
                    <div class="content" id="scroller">
                        <img src="images/judge.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Judge</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div  class="viewport" data-badge="8">
                <section class="page"><a href="#drawer-enthusiasm" >
                    <div class="content" id="scroller">
                        <img src="images/enthusiasm.png"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Enthusiasm</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div  class="viewport" data-badge="9">
                <section class="page"><a href="#drawer-takechances" >
                    <div class="content" id="scroller">
                        <img src="images/takechances.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Take Chances</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div  class="viewport" data-badge="10">
                <section class="page"><a href="#drawer-energy" >
                    <div class="content" id="scroller">
                        <img src="images/energy.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Dynamic Energy</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div  class="viewport" data-badge="11">
                <section class="page"><a href="#drawer-enterprise" >
                    <div class="content" id="scroller">
                        <img src="images/enterprise.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Enterprise</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div  class="viewport" data-badge="12">
                <section class="page"><a href="#drawer-persuasion" >
                    <div class="content" id="scroller">
                        <img src="images/persuasion.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Persuasion</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div  class="viewport" data-badge="13">
                <section class="page"><a href="#drawer-outgoingness" >
                    <div class="content" id="scroller">
                        <img src="images/outgoingness.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Outgoingness</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div  class="viewport" data-badge="14">
                <section class="page"><a href="#drawer-communicate" >
                    <div class="content" id="scroller">
                        <img src="images/communicate.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Ability to <br /> Communicate</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div class="clear"></div>
        </div>
        <div class="row">
            <div  class="viewport" data-badge="15">
                <section class="page"><a href="#drawer-patience" >
                    <div class="content" id="scroller">
                        <img src="images/patience.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Patience</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div  class="viewport" data-badge="16">
                <section class="page"><a href="#drawer-perception" >
                    <div class="content" id="scroller">
                        <img src="images/perception.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Perception</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div class="clear"></div>
        </div>
        <div class="row">

            <div  class="viewport" data-badge="17">
                <section class="page"><a href="#drawer-perfectionism" >
                    <div class="content" id="scroller">
                        <img src="images/perfectionism.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Perfectionism</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div  class="viewport" data-badge="18">
                <section class="page"><a href="#drawer-humor" >
                    <div class="content" id="scroller">
                        <img src="images/humor.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Sense of Humor</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div class="clear"></div>
        </div>
        <div class="row">

            <div  class="viewport" data-badge="19">
                <section class="page"><a href="#drawer-versatility" >
                    <div class="content" id="scroller">
                        <img src="images/versatility.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Versatility</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div  class="viewport" data-badge="20">
                <section class="page"><a href="#drawer-adaptability" >
                    <div class="content" id="scroller">
                        <img src="images/adaptability.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Adaptability</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div class="clear"></div>
        </div>
        <div class="row">

            <div  class="viewport" data-badge="21">
                <section class="page"><a href="#drawer-curiosity" >
                    <div class="content" id="scroller">
                        <img src="images/curiosity.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Curiosity</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div  class="viewport" data-badge="22">
                <section class="page"><a href="#drawer-individualism" >
                    <div class="content" id="scroller">
                        <img src="images/individualism.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Individualism</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>

            <div class="clear"></div>
        </div>
        <div class="row">

            <div  class="viewport" data-badge="23">
                <section class="page"><a href="#drawer-idealism" >
                    <div class="content" id="scroller">
                        <img src="images/idealism.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Idealism</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div  class="viewport" data-badge="24">
                <section class="page"><a href="#drawer-imagination" >
                    <div class="content" id="scroller">
                        <img src="images/imagination.jpg"  width="130" height="130" >
                            <div style="position: relative">
                                <div class="footer ">
                                    <div class="inner2">Imagination</div>
                                </div>
                            </div>
                            </div>
                </a>
                </section>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">

            <div  class="viewport" >
                <section class="page"><img src="images/signoff.jpg"  width="276" height="130" ></section>
                <p>&nbsp;</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
  </ion-content>
</ion-view>
