<ion-view title="16. PERCEPTION">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/perception.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/perception.jpg" width="100%" ></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner" id="perception"><p class="definitionBold">"Geniuses have their mental radar working full time.  Think more of others' needs and wants than you do of your own."</p>

                    <p class="nomargin">PERCEPTION:</p>
                    <ol>
                        <li>The ability and process of using the senses to acquire information about the surrounding environment or situation; powers of observation.</li>

                    </ol>
                    <p class="nomargin">PERCEIVE:</p>
                    <ol>
                        <li>To become aware of, know, or identify by means of the senses.</li>
                        <li>To recognize, discern, envision, or understand.</li>

                    </ol><p>Derivation/Origin: from Latin <i>perception</i>, from the verb <i>percipere</i> = seize, understand, literally to apprehend, grasp with the mind.</p><p>&nbsp;</p>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="perception" value="notstarted" ng-model="status.perception">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="perception" value="inprogress" ng-model="status.perception">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="perception" value="completed" ng-model="status.perception">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes perception" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button " on-tap="saveNote('perception')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory perceptionhistory" style="height: {{notesHistHeight}}px" readonly>{{history.perception}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
