<ion-view title="TERMS OF USE">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>
    <ion-content class="has-header padding blackOnWhite" has-bouncing="false">
        <h2>Terms of Use</h2>
        <p>Copyright &copy; 2015 Pharmacyclics, Inc.  All rights reserved. No part of this software may be modified, reproduced, distributed, or transmitted in any form or by any means without the prior written permission of Pharmacyclics, Inc.</p>

<p>IN NO EVENT SHALL PHARMACYCLICS, INC. BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF THIS SOFTWARE AND/OR ITS DOCUMENTATION, EVEN IF PHARMACYCLICS, INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.  PHARMACYCLICS, INC. SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  THE SOFTWARE AND ACCOMPANYING DOCUMENTATION, IF ANY, PROVIDED HEREUNDER IS PROVIDED "AS IS".  PHARMACYCLICS, INC. HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.</p>

            <p>&nbsp;</p>


    </ion-content>
</ion-view>
