<ion-view title="19. VERSATILITY">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/versatility.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/versatility.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <div class="inner2 scroller-content" id="versatility"><p class="definitionBold">"The more things you learn to <a class="ttip" ng-click="transIn('accomplish', 'versatility')">accomplish</a>, the more <a class="ttip" ng-click="transIn('confidence', 'versatility')">confidence</a> you will develop.  Don't shy away from new <a class="ttip" ng-click="transIn('endeavor', 'versatility')">endeavors</a>."</p>

                        <p class="nomargin">VERSATILE:</p>
                        <ol>
                            <li>Capable of turning easily from one to another of various tasks, fields of endeavor, etc.</li>

                        </ol><p>Derivation/Origin: from Latin <i>versare</i> = literally 'to keep turning or changing', from <i>vertere</i> = to turn.</p>
                    </div>

                    <div id="accomplish-def" class="inner2" style="display: none">
                        <p class="nomargin">ACCOMPLISH:</p>
                        <ol>
                            <li>Achieve something, to succeed in doing or achieving something.</li>

                        </ol><p>Derivation/Origin: from Latin <i>complere</i> = to complete, literally 'to fill out', to fulfill (something intended, desired or promised)</p>
                        <a  ng-click="transOut('accomplish', 'versatility')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="confidence-def" class="inner2" style="display: none">
                        <p class="nomargin">CONFIDENCE:</p>
                        <ol>
                            <li>Trust or faith in a person or thing.</li>
                            <li>The state or quality of being certain.</li>
                            <li>Belief in oneself and one's powers or abilities; a belief or self-assurance in your ability.</li>
                            <li>Full trust, belief in the power</li>

                        </ol><p>Derivation/Origin: from Latin <i>con-</i> = with + <i>fidere</i> = trust.</p>
                        <a  ng-click="transOut('confidence', 'versatility')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="endeavor-def" class="inner2" style="display: none">
                        <p class="nomargin">ENDEAVOR:</p>
                        <ol>
                            <li>An attempt to achieve a goal; an enterprise or undertaking; a purposeful or industrious activity.</li>
                        </ol><p>Derivation/Origin: from French <i>mettre en devoir</i> = literally 'to put in duty', to make it one's duty, to place or put oneself in duty (or service to).</p>

                        <a  ng-click="transOut('endeavor', 'versatility')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="versatility" value="notstarted" ng-model="status.versatility">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="versatility" value="inprogress" ng-model="status.versatility">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="versatility" value="completed" ng-model="status.versatility">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes versatility" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button " on-tap="saveNote('versatility')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory versatilityhistory" style="height: {{notesHistHeight}}px" readonly>{{history.versatility}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
