<div class="modal" id="enotes-takechances">
    
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalTakechances.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p><i>Fear</i> of failure is a major anchor that holds people back. Examining fear, one sees that it is an emotion generated from within based on an evaluation or interpretation of an "impending danger, etc., whether real or imagined". One has to, at some level, decide that there is a danger or pending calamity and decide to be afraid about it before one experiences fear. But is this evaluation correct? Is there an actual threat? Or is one merely reacting because it is similar to something that happened before? Is it just based on someone else's opinion? People experience fear of failure before even attempting something and so never try. This is so common that it seems "natural". Even the etymology of the word <i>fear</i> points to this relationship.  The root word for <i>fear</i> originally meant "to try" but was altered at some point to mean "danger, calamity" or "to frighten". So it seems that "to try" which could mean an opportunity was perceived by some as "dangerous" and "frightening" and it worked its way into the language.</p>
        </div>
    </ion-content>
    
    
</div>

