<div class="modal" id="enotes-curiosity">
    
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalCuriosity.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>The more curious and inquisitive you are about something the more you will understand and potentially enjoy it. It also implies that as you learn more about something, you will find it more ‘real’ and comprehensible and you can actually use it.</p>
            
            <p>If you are curious about something or somebody, if you care about them, if you understand, comprehend them, you are more able to interact with the person or thing in a constructive manner.</p>
            <p>One additional note, as covered in the opening quote regarding the Genius Trait of Curiosity: Don’t let the idea that “you know all there is to know about something” become a barrier to actually learning new things.  Have a good estimation of what you do know but be willing to admit that there may well be some things that you could learn, study, practice and thereby increase your own competency and professionalism.  Remember by applying one’s ability to constructive causes and succeeding in ones intention for betterment, true joy and happiness are the likely outcome.</p>
            <p>Be curious. Care about the world around you.</p>
        </div>
    </ion-content>
    
    
</div>

