<div  id="enotes-devotion"  class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalDevotion.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>NOTE: Purpose includes the idea of 'putting forth an intention'. </p>
            
            <p>EDITORIAL NOTE: It is important to note that work is not defined as "expending energy" or "putting in time" as is sometimes thought of in our society. "The completion of an intention" or "accomplishment of a purpose" are key to the concept of the word.</p>
            
            <p>NOTE: The first characteristic mentioned regarding genius is the quality of drive. Drive to work energetically. Drive to persist in order to overcome any obstacles toward a known goal. Drive to do whatever it takes to make dreams a reality. Focus on your future success.</p>
            
            <p>Purpose fuels drive.  And a worthwhile purpose can truly inspire passion, really light that fire. Many people find to help, to be of service to others is an incredibly powerful purpose. To make a meaningful difference for the better. To change someone's life for the better. When you truly embrace a purpose, such as this, drive comes naturally.</p>
        </div>
    </ion-content>
</div>