<ion-view title="9. WILLINGNESS TO TAKE CHANCES">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/takechances.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/takechances.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner" id="takechances"><p class="definitionBold">"Overcome your <a class="ttip" ng-click="transIn('fear', 'takechances')">fear</a> of <a class="ttip" ng-click="transIn('failure', 'takechances')">failure</a>.  You won't be afraid to take chances once you realize you can learn from your mistakes."</p>
                        <p class="nomargin">TAKE A CHANCE:</p>
                        <ol>
                            <li> take a <a class="ttip" ng-click="transIn('risk', 'takechances')">risk</a> in the hope of a favorable outcome.</li>
                        </ol>
                        <p><u>Editorial Notes:</u></p>
                                    <p><i>Fear</i> of failure is a major anchor that holds people back. Examining fear, one sees that it is an emotion generated from within based on an evaluation or interpretation of an "impending danger, etc., whether real or imagined". One has to, at some level, decide that there is a danger or pending calamity and decide to be afraid about it before one experiences fear. But is this evaluation correct? Is there an actual threat? Or is one merely reacting because it is similar to something that happened before? Is it just based on someone else's opinion? People experience fear of failure before even attempting something and so never try. This is so common that it seems "natural". Even the etymology of the word <i>fear</i> points to this relationship.  The root word for <i>fear</i> originally meant "to try" but was altered at some point to mean "danger, calamity" or "to frighten". So it seems that "to try" which could mean an opportunity was perceived by some as "dangerous" and "frightening" and it worked its way into the language.</p>
                                    <p>&nbsp;</p>
                        <!--p><a ng-click="modalTakechances.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p><p>&nbsp;</p-->
                    </div>

                    <div id="fear-def" class="inner2" style="display:none">
                        <p class="nomargin">FEAR:</p>
                        <ol>
                            <li>A distressing emotion aroused by the sense of, perception of, or thought of impending danger, evil, pain, etc., whether the threat is real or imagined; the feeling or condition of being afraid (frightened or apprehensive about something thought, perceived or imagined).</li>

                        </ol>
                        <p>Derivation/Origin:  from Old English <i>faer</i> = calamity, danger and <i>faeran</i> = to frighten.</p>
                        <a  ng-click="transOut('fear', 'takechances')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="failure-def" class="inner2" style="display:none">
                        <p class="nomargin">FAILURE:</p>
                        <ol>
                            <li>A lack of success in something or an unsuccessful attempt at doing something.</li>

                        </ol><p>Derivation/Origin:  from Latin <i>fallere</i> = to deceive somebody's hopes, disappoint.</p>
                        <a  ng-click="transOut('failure', 'takechances')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="risk-def" class="inner2" style="display:none">
                        <ion-scroll zooming="false" style="width: 100%; height: {{scroll}}px">
                        <p class="nomargin">RISK:</p>
                        <ol>
                            <li>The chance of something going wrong; the possibility of exposure to injury, damage, or loss.</li>

                        </ol><p>Derivation/Origin: from Italian <i>rischiare</i> = to run into danger. (Note: the full derivation is uncertain. The concept of risk includes the chance or possibility of running into danger rather than the certainty of doing so.) </p>
                        <p><u>Editorial Notes:</u></p>
                        <p>There is very little in life where there is no risk. To win a game there must also be the risk of losing. A large return often assumes large risks. Genius would involve evaluating the probability of achieving the return and how one faces up to the risk, how one deals with it. Risk is actually an opportunity to demonstrate one’s own competence. So one’s competence enters into what risks one would rationally take.</p>
                        <a  ng-click="transOut('risk', 'takechances')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                        <p>&nbsp;</p>
                        </ion-scroll>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="takechances" value="notstarted" ng-model="status.takechances">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="takechances" value="inprogress" ng-model="status.takechances">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="takechances" value="completed" ng-model="status.takechances">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <textarea name="notesdata" class="notes takechances" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('takechances')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory takechanceshistory" style="height: {{notesHistHeight}}px" readonly>{{history.takechances}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
