<ion-view title="3. DEVOTION TO GOALS">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/devotion.jpg"  width="100%" height="513" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="frost" style="height: {{frost}}px"><img src="images/devotion.jpg" width="100%"  height="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost "  style="height: {{frost}}px" id="flip1">
                <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                <div class="inner" id="devotion"><p class="definitionBold">"Geniuses know what they want and go after it.  Get control of your life and schedule.  Have something <a class="ttip" ng-click="transIn('specific', 'devotion')">specific</a> to <a class="ttip" ng-click="transIn('accomplish', 'devotion')">accomplish</a> every day."</p>
                    <p class="nomargin">DEVOTION:</p>
                    <ol>
                        <li>Application, dedication or commitment of oneself or one's time to some purpose, pursuit, cause, etc.</li>
                    </ol><p>Derivation/Origin: from Latin devovere = to dedicate by a vow (a solemn or serious promise).</p>
                    <p class="nomargin">GOAL:</p>
                    <ol>
                        <li>A known objective toward which an action is directed with the purpose of achieving that end.</li>
                    </ol><p>Derivation/Origin: from Middle English <i>gol</i> = boundary, limit, with the sense of the end point of a race (in a broader sense, the completion of an intention or objective). </p>
                    <p>&nbsp;</p>
                </div>
                <div id="specific-def" class="inner2" style="display:none">
                    <p class="nomargin">SPECIFIC:</p>
                    <ol>
                        <li>Precise, particular and detailed, avoiding vagueness.</li>

                    </ol><p>Derivation/Origin: from Latin <i>specificus</i> = literally 'making a kind', from <i>species</i> = kind.</p>
                    <a  ng-click="transOut('specific', 'devotion')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="accomplish-def" class="inner2" style="display:none">
                    <p class="nomargin">ACCOMPLISH:</p>
                    <ol>
                        <li>Achieve something, to succeed in doing or achieving something. </li>

                    </ol><p>Derivation/Origin:  from Latin <i>complere</i> = to complete, literally ‘to fill out’, to fulfill (something intended, desired or promised).</p>
                    <a  ng-click="transOut('accomplish', 'devotion')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="devotion" value="notstarted" ng-model="status.devotion">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="devotion" value="inprogress" ng-model="status.devotion">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="devotion" value="completed" ng-model="status.devotion">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes devotion" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('devotion')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory devotionhistory" style="height: {{notesHistHeight}}px" readonly>{{history.devotion}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
