<ion-view title="1. DRIVE">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/drive.jpg" width="100%" style="height: {{cloner}}px"  class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/drive.jpg"  width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " id="flip1" style="height: {{frost}}px">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                <div class="inner" id="drive"><p class="definitionBold">"Geniuses have a strong desire to <a class="ttip" ng-click="transIn('work', 'drive')">work</a> <a class="ttip" ng-click="transIn('hard',  'drive')">hard</a> and long.  They're willing to give all they've got to a project.  Develop your drive by <a class="ttip" ng-click="transIn('focus',  'drive')">focusing</a> on your future <a class="ttip" ng-click="transIn('success',  'drive')">success</a>, and keep going."</p>

                    <p class="nomargin">DRIVE:</p>
                    <ol>
                        <li>The power or energy to get things done.</li>

                    </ol>

                    <p>Derivation/Origin: from Old English <i>drifan</i> = to push, (one early usage was to push from behind, as in driving cattle or livestock).</p>
                    <p><u>Editorial Notes:</u></p>
                    <p>The first characteristic mentioned regarding genius is the quality of drive. Drive to work energetically. Drive to persist in order to overcome any obstacles toward a known goal. Drive to do whatever it takes to make dreams a reality. <em><i>Focus on your future success</i></em>.</p>

                    <p>Purpose fuels drive.  And a <em><i>worthwhile purpose</i></em> can truly inspire passion, really light that fire. Many people find to help, to be of service to others is an incredibly powerful purpose. To make a meaningful difference for the better. To change someone's life for the better. When you truly embrace a purpose, such as this, drive comes naturally.</p>

                    <p><em>At Pharmacyclics, our purpose is to develop and commercialize novel therapies intended to improve people’s quality of life, increase its duration, and resolve their serious medical healthcare needs.</em></p>

                    <p class="nomargin">PURPOSE:</p>
                    <ol>
                        <li>The reason why something is done or why something exists.  It is something set up as an object or an end to be attained; an intention. </li>
                    </ol>
                    <p>Derivation/Origin: from Old French <i>porposer</i> = to intend, literally = to put forth (an intention or a reason why).</p>
                    <p>NOTE: purpose includes the idea of 'putting forth an intention'.</p>
                    <p>&nbsp;</p>
                    <!--p><a ng-click="modalDrive.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p><p>&nbsp;</p-->
                </div>
                <div id="drive-def" class="inner2" style="display:none">
                    <p class="nomargin">DRIVE:</p>
                    <ol>
                        <li>The power or energy to get things done.</li>

                    </ol>
                    <p>Derivation/Origin: from Old English <i>drifan</i> = to push, (one early usage was to push from behind, as in driving cattle or livestock).</p>
                    <a  ng-click="transOut('drive', 'drive')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="work-def" class="inner2" style="display:none">
                    <p class="nomargin">WORK:</p>
                    <ol>
                        <li>Physical or mental effort or activity directed toward the production or accomplishment of something.</li>
                        <li>To cause or effect, bring about.</li>

                    </ol>
                    <p>Derivation/Origin: from Old English <i>weorc</i> = action, accomplishment.</p>
                    <p><u>Editorial Notes:</u> It is important to note that work is not defined as “expending energy” or “putting in time” as is sometimes thought of in our society. “The completion of an intention” or “accomplishment of a purpose” are key to the concept of the word. </p>
                    <a  ng-click="transOut('work', 'drive')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="hard-def" class="inner2" style="display:none">
                    <p class="nomargin">HARD:</p>
                    <ol>
                        <li>Durable and persistent.</li>
                        <li>Performing energetically; acting or producing something with energy or industriousness.</li>

                    </ol>
                    <p>Derivation/Origin: from Old English <i>heard</i> = ultimately meaning 'resistant to pressure', from a root word meaning 'strength'.</p>
                    <a  ng-click="transOut('hard', 'drive')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="focus-def" class="inner2" style="display:none">
                    <p class="nomargin">FOCUS:</p>
                    <ol>
                        <li>To concentrate mainly on something, to give your main attention to one thing or one aspect of a thing.</li>

                    </ol>
                    <p>Derivation/Origin: from Latin <i>focus</i> = hearth, fireplace, perhaps because it was the 'center' of the home.</p>
                    <a  ng-click="transOut('focus', 'drive')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="success-def" class="inner2" style="display:none">
                    <p class="nomargin">SUCCESS:</p>
                    <ol>
                        <li>Achievement of desired aim; the achievement of something planned or attempted. </li>

                    </ol>
                    <p>Derivation/Origin: from Latin <i>sucedere</i> = literally ‘to go after’, the original English sense was ‘result or outcome’ (meaning accomplishment of desired end)</p>
                    <a  ng-click="transOut('success', 'drive')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                </ion-scroll>
                </div>

            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="drive" value="notstarted" ng-model="status.drive">
                                    <div class="item-content">
                                       <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" name="drive" value="inprogress" ng-model="status.drive">
                                    <div class="item-content">
                                       <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" name="drive" value="completed" ng-model="status.drive">
                                    <div class="item-content">
                                       <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                            </label>

                            <textarea name="notesdata" class="notes drive" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('drive')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory drivehistory" style="height: {{notesHistHeight}}px" readonly>{{history.drive}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
