<ion-view title="10. DYNAMIC ENERGY">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/energy.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)"  show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/energy.jpg" width="100%" ></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner2" id="energy"><p class="definitionBold">"Don't sit on your butt waiting for something good to happen.  Be <a class="ttip" ng-click="transIn('determined', 'energy')">determined</a> to make it happen."</p>
                        <p class="nomargin">DYNAMIC:</p>
                        <ol>
                            <li>Vigorous and purposeful, full of energy, enthusiasm, and a sense of purpose and able both to get things going and to get things done.</li>
                        </ol>
                        <p>Derivation/Origin: from Greek <i>dumamikos</i> = powerful, from <i>dunamis</i> = power, force, from <i>dunasthai</i> = to be able.</p>
                        <p><u>Editorial Notes:</u></p>
                        <p> Inherent in all of us is the ability to be vigorous, to be full of energy and to get things done, which would result in us flourishing in all areas of life. As covered in this text, purpose, intention and confidence are key to this dynamic energy. It is possible that the stronger the purpose to make a difference for the betterment of society the easier it becomes to access the energy required to achieve success. In other words there may be extraordinary value in aligning with the purpose of life. On the other hand if one were operating on a purpose that was not pro-survival one might actually restrain oneself, hold oneself back. With the purpose to improve others, society or mankind, one may find more ready access to the power associated with dynamic drive and therefore flourish.</p>
                        <p class="nomargin">ENERGY:</p>
                        <ol>
                            <li>Ability to do things, the ability or power to work or make an effort.</li>
                        </ol>
                        <p>Derivation/Origin: from Greek <i>energeia</i>, from <i>ergon</i> = work.</p>
                        <p>Note: The word <i>work</i> includes the concept of the completion of an intention. Hence, the concept of <i>energy</i> includes this ability or power directed toward the accomplishment of this.</p>
                        <!--p><a ng-click="modalEnergy.show()" class=" editorialnotes centered">Editorial Notes</a></p--><p>&nbsp;</p>
                    </div>
                    <div id="determined-def" class="inner2" style="display:none">
                        <p class="nomargin">DETERMINED:</p>
                        <ol>
                            <li>Adopted a cause or a purpose, having made a firm decision and being resolved not to change it. </li>
                        </ol>
                        <p>Derivation/Origin: from Latin <i>determinare</i> = literally 'to set the limits of', from <i>terminus</i> = limit, boundary, originally in the sense 'to bring to an end' (i.e., accomplish your goal, complete your mission, finish it).</p>
                        <p><u>Editorial Notes:</u></p>
                        <p> Of course, one should be able to consistently evaluate the data and change one's viewpoint if there is a change in the facts of the matter, or new data arises that calls for a change in the course or direction. </p>
                        <a  ng-click="transOut('determined', 'energy')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="energy" value="notstarted" ng-model="status.energy">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="energy" value="inprogress" ng-model="status.energy">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="energy" value="completed" ng-model="status.energy">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes energy" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('energy')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory energyhistory" style="height: {{notesHistHeight}}px" readonly>{{history.energy}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
