<ion-view title="GENIUS">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false">
        <div class="container ">
            <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
                <ion-slide class="slideHeader">
                    <div style="position: relative"><a ui-sref="genius.genius" >
                        <img src="images/genius-head.jpg" style="width: 100%; height: 246px" >
                            <div class="footer hero ">
                                <div class="inner centered"><strong>"All people are born with the seed of genius within them.
                                    Via observation, study, practice, attention and intention
                                    genius manifests itself."</strong></div>
                            </div>
                            </a>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div kendo-chart k-options="pie" k-data-source="status" id="chart"></div>

                </ion-slide>

            </ion-slide-box>


            <div class="row centered">
                <div class="viewport " data-badge="1">
                    <section class="page">
                        <a ui-sref="genius.drive">
                            <div class="content" id="scroller">
                                <img src="images/drive.jpg"  width="130" height="130" >
                                    <div style="position: relative" >
                                        <div class="footer ">
                                            <div class="inner2">DRIVE</div>
                                        </div>
                                    </div>
                                    </div>

                        </a>
                    </section>
                </div>
                <div  class="viewport " data-badge="2">
                    <section class="page">
                        <a ui-sref="genius.courage" >
                            <div class="content" id="scroller">
                                <img src="images/courage.png"  width="130" height="130" >
                                    <div style="position: relative">
                                        <div class="footer ">
                                            <div class="inner2">COURAGE</div>
                                        </div>
                                    </div>
                                    </div>
                        </a>
                    </section>
                </div>
                <div class="clear"></div>
            </div>

            <div class="row centered">
                <div  class="viewport"  data-badge="3">
                    <section class="page"><a ui-sref="genius.devotion" >
                        <div class="content" id="scroller">
                            <img src="images/devotion.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">DEVOTION TO GOALS</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div class="viewport" data-badge="4">
                    <section class="page"><a ui-sref="genius.knowledge" >
                        <div class="content" id="scroller">
                            <img src="images/knowledge.png"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">KNOWLEDGE</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div class="clear"></div>
            </div>

            <div class="row centered">
                <div  class="viewport" data-badge="5">
                    <section class="page"><a ui-sref="genius.honesty" >
                        <div class="content" id="scroller">
                            <img src="images/honesty.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">HONESTY</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div  class="viewport" data-badge="6">
                    <section class="page"><a ui-sref="genius.optimism" >
                        <div class="content" id="scroller">
                            <img src="images/optimism.png"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">OPTIMISM</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div class="clear"></div>
            </div>

            <div class="row centered">
                <div  class="viewport" data-badge="7">
                    <section class="page"><a ui-sref="genius.judge">
                        <div class="content" id="scroller">
                            <img src="images/judge.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">ABILITY TO JUDGE</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div  class="viewport" data-badge="8">
                    <section class="page"><a ui-sref="genius.enthusiasm" >
                        <div class="content" id="scroller">
                            <img src="images/enthusiasm.png"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">ENTHUSIASM</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row centered">
                <div  class="viewport" data-badge="9">
                    <section class="page"><a ui-sref="genius.chances" >
                        <div class="content" id="scroller">
                            <img src="images/takechances.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">WILLINGNESS TO TAKE CHANCES</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div  class="viewport" data-badge="10">
                    <section class="page"><a ui-sref="genius.energy" >
                        <div class="content" id="scroller">
                            <img src="images/energy.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">DYNAMIC ENERGY</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row centered">
                <div  class="viewport" data-badge="11">
                    <section class="page"><a ui-sref="genius.enterprise" >
                        <div class="content" id="scroller">
                            <img src="images/enterprise.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">ENTERPRISE</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div  class="viewport" data-badge="12">
                    <section class="page"><a ui-sref="genius.persuasion" >
                        <div class="content" id="scroller">
                            <img src="images/persuasion2.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">PERSUASION</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row centered">
                <div  class="viewport" data-badge="13">
                    <section class="page"><a ui-sref="genius.outgoingness" >
                        <div class="content" id="scroller">
                            <img src="images/outgoingness.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">OUTGOINGNESS</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div  class="viewport" data-badge="14">
                    <section class="page"><a ui-sref="genius.communicate">
                        <div class="content" id="scroller">
                            <img src="images/communicate.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">ABILITY TO <br /> COMMUNICATE</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div class="clear"></div>
            </div>
            <div class="row centered">
                <div  class="viewport" data-badge="15">
                    <section class="page"><a ui-sref="genius.patience" >
                        <div class="content" id="scroller">
                            <img src="images/patience.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">PATIENCE</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div  class="viewport" data-badge="16">
                    <section class="page"><a ui-sref="genius.perception">
                        <div class="content" id="scroller">
                            <img src="images/perception.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">PERCEPTION</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div class="clear"></div>
            </div>
            <div class="row centered">

                <div  class="viewport" data-badge="17">
                    <section class="page"><a ui-sref="genius.perfectionism" >
                        <div class="content" id="scroller">
                            <img src="images/perfectionism.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">PERFECTIONISM</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div  class="viewport" data-badge="18">
                    <section class="page"><a ui-sref="genius.humor" >
                        <div class="content" id="scroller">
                            <img src="images/humor.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">SENSE OF HUMOR</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div class="clear"></div>
            </div>
            <div class="row centered">

                <div  class="viewport" data-badge="19">
                    <section class="page"><a ui-sref="genius.versatility">
                        <div class="content" id="scroller">
                            <img src="images/versatility.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">VERSATILITY</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div  class="viewport" data-badge="20">
                    <section class="page"><a ui-sref="genius.adaptability">
                        <div class="content" id="scroller">
                            <img src="images/adaptability.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">ADAPTABILITY</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div class="clear"></div>
            </div>
            <div class="row centered">

                <div  class="viewport" data-badge="21">
                    <section class="page"><a ui-sref="genius.curiosity" >
                        <div class="content" id="scroller">
                            <img src="images/curiosity.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">CURIOSITY</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div  class="viewport" data-badge="22">
                    <section class="page"><a ui-sref="genius.individualism" >
                        <div class="content" id="scroller">
                            <img src="images/individualism.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">INDIVIDUALISM</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>

                <div class="clear"></div>
            </div>
            <div class="row centered">

                <div  class="viewport" data-badge="23">
                    <section class="page"><a ui-sref="genius.idealism" >
                        <div class="content" id="scroller">
                            <img src="images/idealism.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">IDEALISM</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div  class="viewport" data-badge="24">
                    <section class="page"><a ui-sref="genius.imagination" >
                        <div class="content" id="scroller">
                            <img src="images/imagination.jpg"  width="130" height="130" >
                                <div style="position: relative">
                                    <div class="footer ">
                                        <div class="inner2">IMAGINATION</div>
                                    </div>
                                </div>
                                </div>
                    </a>
                    </section>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row centered">

                <div  class="viewport" >
                    <section class="page"><img src="images/signoff.jpg"  width="276" height="130" ></section>
                    <p>&nbsp;</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </ion-content>
</ion-view>
