<ion-view title="5. HONESTY">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/honesty.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class=" frost" style="height: {{frost}}px"><img src="images/honesty.jpg" width="100%" height="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost "  style="height: {{frost}}px" id="flip1">
                <div class="inner" id="honesty"><p class="definitionBold">"Geniuses are frank, <a   class="ttip" ng-click="transIn('forthright', 'honesty')">forthright</a> and honest.  Take the responsibility for things that go wrong.  Be willing to <a  class="ttip" ng-click="transIn('admit', 'honesty')">admit</a>, I goofed, and learn from your <a   class="ttip" ng-click="transIn('mistake', 'honesty')">mistakes</a>."</p>
                    <p class="nomargin">HONEST:</p>
                    <ol>
                        <li>Honorable in principles, intentions, and actions; upright and fair.</li>
                        <li>Truthful or true.  Expressing or embodying the truth.</li>
                    </ol><p>Derivation/Origin: from Latin <i>honestus</i> = having honor.</p>
                </div>
                <div id="forthright-def" class="inner2" style="display:none">
                    <p class="nomargin">FORTHRIGHT:</p>
                    <ol><li>Going straight to the point, direct.</li></ol>
                    <a ng-click="transOut('forthright', 'honesty')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="honest-def" class="inner2" style="display:none">
                    <p class="nomargin">HONEST:</p>
                    <ol>
                        <li>Honorable in principles, intentions, and actions; upright and fair.</li>
                        <li>Truthful or true.  Expressing or embodying the truth.</li>
                    </ol><p>Derivation/Origin: from Latin <i>honestus</i> = having honor.</p>
                    <a    ng-click="transOut('honest', 'honesty')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="admit-def" class="inner2" style="display:none">
                    <p class="nomargin">ADMIT:</p>
                    <ol>
                        <li>To accept truth; to acknowledge that something is true; to grant to be real, valid or true; to admit doing something.</li>

                    </ol><p>Derivation/Origin: from Latin <i>admittere</i> = to let go into, from <i>mittere</i>, literally 'to let go' (of a falsehood), with the sense of 'to concede as valid or true', (to admit includes the concept of recognition of a change in viewpoint regarding what is true).</p>

                    <a    ng-click="transOut('admit', 'honesty')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="mistake-def" class="inner2" style="display:none">
                    <p class="nomargin">MISTAKE:</p>
                    <ol>
                        <li>An incorrect, unwise, or unfortunate act or decision caused by bad judgment, a lack of information, false information, or a lack of care.</li>

                    </ol><p>Derivation/Origin: from Scandinavian source <i>mistaka</i> = to take in error.</p>
                    <a    ng-click="transOut('mistake', 'honesty')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="honesty" value="notstarted" ng-model="status.honesty">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="honesty" value="inprogress" ng-model="status.honesty">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="honesty" value="completed" ng-model="status.honesty">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes honesty" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('honesty')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory honestyhistory" style="height: {{notesHistHeight}}px"  readonly>{{history.honesty}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
