<ion-view view-title="HOW TO USE">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>

    <ion-content class="has-header padding blackOnWhite">
        <h2>How to use this<br /> App to learn.</h2>
        <p>By observing, studying and practicing each of the "24 characteristics of Genius" you will raise your awareness of your inherent ability to operate at a high level of intellectual and creative thought and action. These characteristics of Genius are within you, they are inside of you, innately existing, and can be developed.</p>
        <p>Here at Pharmacyclics we want you to excel on your job and become a true genius. As you operate at a higher genius level you can be more effective in your professional life which will improve our products and help the patients we serve. We are here for the betterment of patients and your contributions will have a meaningful impact.</p>
        <p>The intention of this Pharmacyclics Genius App is to ensure that you are achieving a greater understanding of the concepts presented and thereby improve your ability to apply this information, if you so wish. The benefit you receive from this App will depend on what you put into it and how much you apply yourself to it.</p>
        <p>The first steps are to recognize that the characteristics are already within you. Then read and duplicate the material - ensure that one has a clear understanding of each of the concepts presented and then apply these to your daily life.</p>
        <p>Key words you will notice in each of the characteristics are made bold and underlined for you to tap. Tapping this shows a simple definition for each of these terms. These definitions can play a key part to your understanding.  If terms are incorrectly or not fully defined it can cause alterations, misunderstandings and unwillingness to learn. </p>
        <p>As a follow-up to your understanding of each of the characteristics you should evaluate the information for yourself and then, if you can agree to it, apply the information, which will deepen your understanding and increase your abilities.</p>
        <p>We hope you have fun with the new <strong>Pharmacyclics Genius App</strong>. </p>
        <p>&nbsp;</p>

    </ion-content>
</ion-view>
