<ion-view title="18. SENSE OF HUMOR">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/humor.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/humor.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class=" frost " style="height: {{frost}}px" id="flip1">
                    <div class="inner2 scroller-content" id="humor"><p class="definitionBold">"Be willing to laugh at your own expense.  Don't take offense when the joke is on you."</p>
                        <p class="nomargin">SENSE OF HUMOR:</p>
                        <ol>
                            <li>Able to experience humor, i.e., to be amused, to laugh or smile at something funny.</li>
                        </ol>
                        <p class="nomargin">HUMOR:</p>
                        <ol>
                            <li>Ability to see something is funny, or enjoyment of things that are funny.</li>

                        </ol>
                        <p>Derivation/Origin: from Latin <i>humor</i> = body fluid (from the theory that bodily fluids affected one's mood).</p>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="humor" value="notstarted" ng-model="status.humor">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="humor" value="inprogress" ng-model="status.humor">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="humor" value="completed" ng-model="status.humor">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes humor" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('humor')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory humorhistory" style="height: {{notesHistHeight}}px" readonly>{{history.humor}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
