<ion-view title="24. IMAGINATION">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/imagination.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/imagination.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>

                <div class=" frost " style="height: {{frost}}px" id="flip1">
                <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner2 scroller-content" id="imagination"><p class="definitionBold">"Geniuses know how to think in new combinations, see things from a different <a class="ttip" ng-click="transIn('perspective', 'imagination')">perspective</a>, than anyone else.  <a class="ttip" ng-click="transIn('unclutter', 'imagination')">Unclutter</a> your mental environment to develop this type of imagination.  Give yourself time each day to <a class="ttip" ng-click="transIn('daydream', 'imagination')">daydream</a>, to <a class="ttip" ng-click="transIn('fantasize', 'imagination')">fantasize</a>, to drift into a dreamy inner life the way you did as a child."</p>

                        <p class="nomargin">IMAGINATION:</p>
                        <ol>
                            <li>Ability to visualize, the ability to form images and ideas in the mind, especially of things never seen or never experienced directly.</li>

                        </ol><p>Derivation/Origin: from Latin <i>imaginari</i> = to form a mental picture to oneself, imagine, to form an image of, represent, Latin <i>imaginem</i> from <i>imago</i> =  image, picture, or figuratively "idea, appearance."</p>
                        <p>NOTE: Compare the following word which has a similar root.</p>

<p class="nomargin">MAGIC:</p>
<ol>
    <li>Art of influencing events and producing marvels using hidden natural forces. (Note: Further descriptions include such things as predicting the future, or conjuring. Conjuring is essentially <em>creating something from nothing</em>.)</li>

</ol><p>Derivation/Origin: from <i>Magi</i>, the singular form of which is <i>Magus</i> = powerful one, from Old Persian <i>magush</i> = one of the members of the learned and priestly class of Persia, possibly from the root <i>magh-</i> = to be able, to have power.</p>
<p><u>Editorial Notes:</u></p>
        <p>It can be fascinating to look at the power of imagination and the role it can play in problem solving and creativity. The scope can range from the problems of today to those of a distant future, and from every-day situations to problems that plague man on a global scale. It can be a tool for predicting, influencing and even creating the future. With imagination one could make something appear as if it was created out of nothing. Imagination is a key part of the creation of artistic endeavors that lift our spirits and technological advancements and marvels that shape our world. As an example, a primitive tribe would view the product of someone’s imagination, such as an iPhone, as “magic”… and in one sense they would be right.</p>
                        <!--p><a ng-click="modalImagination.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p-->
                        <p>&nbsp;</p>
                    </div>

                    <div id="perspective-def" class="inner2" style="display: none">
                        <p class="nomargin">PERSPECTIVE:</p>
                        <ol>
                            <li>Particular evaluation of something, a particular evaluation of a situation or facts, especially from one person's point of view.  A mental view or outlook. </li>

                        </ol><p>Derivation/Origin: from Latin <i>perspectivus</i> = optical, from <i>perspicere</i> = to look closely, to inspect.</p>
                        <a  ng-click="transOut('perspective', 'imagination')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="unclutter-def" class="inner2" style="display: none">
                        <p class="nomargin">UNCLUTTER:</p>
                        <ol>
                            <li>To create a space that is not filled or littered with things in a disorderly manner.</li>
                        </ol>
                        <a  ng-click="transOut('unclutter', 'imagination')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="fantasize-def" class="inner2" style="display: none">
                        <p class="nomargin">FANTASIZE:</p>
                        <ol>
                            <li>To portray in the mind, imagine.</li>

                        </ol><p>Derivation/Origin: from Greek <i>phantasia</i> = appearance, imagination, from ultimately <i>phainein</i> = to show. </p>
                        <a  ng-click="transOut('fantasize', 'imagination')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                    <div id="daydream-def" class="inner2" style="display: none">
                        <p class="nomargin">DAYDREAM:</p>
                        <ol>
                            <li>To have a dreamlike musing or fantasy while awake, especially one of happy, pleasant thoughts, of the fulfillment of wishes, hopes or ambitions, imagined as coming to pass and experienced while awake. Such as an invention.</li>
                        </ol>
                        <a  ng-click="transOut('daydream', 'imagination')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>

                </ion-scroll>
                </div>

            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="imagination" value="notstarted" ng-model="status.imagination">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="imagination" value="inprogress" ng-model="status.imagination">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="imagination" value="completed" ng-model="status.imagination">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes imagination" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('imagination')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory imaginationhistory" style="height: {{notesHistHeight}}px" readonly>{{history.imagination}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
