<ion-view title="22. INDIVIDUALISM">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/individualism.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/individualism.jpg" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class=" frost " style="height: {{frost}}px" id="flip1">
                    <div class="inner2 scroller-content" id="individualism"><p class="definitionBold">"Do things the way you think they should be done, without fearing somebody's <a class="ttip" ng-click="transIn('disapproval', 'individualism')">disapproval</a>."</p>
                        <p class="nomargin">INDIVIDUALISM:</p>
                        <ol>
                            <li>The principle or habit or belief in independent thought or action and being self-reliant.</li>

                        </ol><p>Derivation/Origin: from Latin <i>in-</i> = not + <i>divider</i> = to divide. </p>
                    </div>

                    <div id="disapproval-def" class="inner2" style="display: none">
                        <p class="nomargin">DISAPPROVAL:</p>
                        <ol>
                            <li>Dislike or condemnation of somebody or something considered immoral or bad in some way, looking down on, not approving of.</li>

                        </ol><p>Derivation/Origin: from Latin <i>dis-</i> = apart, in a different direction + <i>approbare</i> = to regard as good, from <i>prubus</i> = good.</p>
                        <a  ng-click="transOut('disapproval', 'individualism')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="individualism" value="notstarted" ng-model="status.individualism">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="individualism" value="inprogress" ng-model="status.individualism">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="individualism" value="completed" ng-model="status.individualism">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes individualism" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('individualism')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory individualismhistory" style="height: {{notesHistHeight}}px" readonly>{{history.individualism}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
