<ion-view title="13. OUTGOINGNESS">
    <ion-content class="has-header background" has-bouncing="false"><img src="images/outgoingness.jpg" width="100%" style="height: {{cloner}}px" class="cloner">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="photo2 frost" style="height: {{frost}}px"><img src="images/outgoingness.jpg" style="width: 100%;"></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " style="height: {{frost}}px" id="flip1">
                    <ion-scroll zooming="false" has-bouncing="false" style="width: 100%; height: {{scroll}}px">
                    <div class="inner" id="outgoingness"><p class="definitionBold">"I've found geniuses able to make friends easily and be easy on their <a class="ttip" ng-click="transIn('friend', 'outgoingness')">friends</a>.  Be a '<a class="ttip" ng-click="transIn('booster', 'outgoingness')">booster</a>' not somebody who puts others down.  That <a class="ttip" ng-click="transIn('attitude', 'outgoingness')">attitude</a> will win you many valuable friends."</p>

                    <p class="nomargin">OUTGOING:</p>
                    <ol>
                        <li>Interested in and responsive to others; openly friendly; sociable; reaching out to meet new people.</li>

                    </ol><p>Derivation/Origin: From Old English <i>ut</i> = out + <i>gan</i> = to go.</p>
                    <p><u>Editorial Notes:</u></p>
                                <p>Our therapy is friendly, it is an ally in support of a cause or a struggle. We provide this to others, it is also important to our company. We carry that in all that we do. It is essential in our culture for each of us to act in a friendly (supportive) manner.  A friend is also someone you are willing to do something for. It is someone you willing to help and who is willing to help you. The broader the reach, the more we help, the more friends we create, the more we flourish. </p>
                    <!--p><a ng-click="modalOutgoingness.show()" class=" editorialnotes centered">EDITORIAL NOTES</a></p-->
                    <p>&nbsp;</p>
                </div>

                <div id="friend-def" class="inner2" style="display:none">
                    <p class="nomargin">FRIENDS:</p>
                    <ol>
                        <li>Somebody who has a close personal relationship of mutual affection and trust with another. </li>
                        <li>An ally in support of a cause or a struggle; a comrade; somebody who is not an enemy. </li>

                    </ol>
                    <p>Derivation/Origin: from Old English <i>freond</i>, ultimately from a prehistoric Germanic word meaning 'to love'.</p>
                    <a  ng-click="transOut('friend', 'outgoingness')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="booster-def" class="inner2" style="display:none">
                    <p class="nomargin">BOOSTER:</p>
                    <ol>
                        <li>Somebody or something that improves confidence; somebody or something that encourages or improves something such as confidence.</li>

                    </ol>
                    <p>Derivation/Origin: unknown.</p>
                    <a  ng-click="transOut('booster', 'outgoingness')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                <div id="attitude-def" class="inner2" style="display:none">
                    <p class="nomargin">ATTITUDE:</p>
                    <ol>
                        <li>Personal view of something; an opinion or general feeling about something; a settled way of thinking or feeling, typically reflected in a person's behavior; manner.</li>

                    </ol>
                    <p>Derivation/Origin: from Italian <i>attitudine</i> = disposition, posture.</p>
                    <a  ng-click="transOut('attitude', 'outgoingness')"><button class="button icon ion-ios-undo button-dark button-outline"></button></a>
                </div>
                </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES</em></p>
                        <form class="noteform centered">
                            <label class="item item-radio">
                                <input type="radio" name="outgoingness" value="notstarted" ng-model="status.outgoingness">
                                    <div class="item-content">
                                        <span class="icon-notstarted"></span> Not Started
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="outgoingness" value="inprogress" ng-model="status.outgoingness">
                                    <div class="item-content">
                                        <span class="icon-inprogress"></span> In Progress
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>
                            <label class="item item-radio">
                                <input type="radio" name="outgoingness" value="completed" ng-model="status.outgoingness">
                                    <div class="item-content">
                                        <span class="icon-completed"></span> Completed
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                    </label>

                            <textarea name="notesdata" class="notes outgoingness" placeholder="Enter notes here" style="height: {{notesHeight}}px"></textarea>
                            <button class="button" on-tap="saveNote('outgoingness')">Save</button>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost" style="height: {{frost}}px">
                    <div class="inner"><p><em>NOTES HISTORY</em></p>
                        <form class="noteform">

                            <textarea name="notesdata" class="noteshistory outgoingnesshistory" style="height: {{notesHistHeight}}px" readonly>{{history.outgoingness}}</textarea>

                        </form>
                    </div></div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
