<ion-view title="VIDEO">

    <ion-content class="has-header background" has-bouncing="false" scroll="false">
        <div class="centered">
            <p>&nbsp;</p>
            <iframe src="" dynamic-url dynamic-url-src="http://pcycmobileassets.s3-website-us-west-2.amazonaws.com/genius.mp4" frameborder="0" width="320" height="240" allowfullscreen></iframe>

        </div>
        
    </ion-content>
</ion-view>