<div class="modal" id="enotes-courage">
    
        <ion-header-bar class="bar bar-header bar-positive">
            <button class="button button-clear button-primary" ng-click="modalCourage.hide()">Close</button>
        </ion-header-bar>
        <ion-content>
            <div class="padding">
                <p>The derivation of courage is from Latin <i>cor</i> = heart, which remains a common symbol for inner strength, hence bravery. Courage comes from within.</p>
                <p>When we hear the word courage or bravery, we consider ‘Not compromising one’s ideals’ in the face of trouble or temptation. And being willing to give one’s life for a cause, or to save another’s life is an extreme example of courage. But if we only concentrate on the dramatic, we can miss some examples that, even if they occur quietly, can be just as important, sometimes more so.</p>
                <p>Courage can be standing up for what one believes is right. It can be facing something that is not easy for you to face. It can be speaking out in a group, especially if what you are saying is not popular. It can be saying “No.” when someone is trying to get you to do something you don’t think is right. It can be accepting a stiff challenge in the face of others doubting you will be successful. It can be handling a difficult client or junior. Or it can even be speaking up to your boss if you have a different view on how something should be handled.</p>
                <p>There is a phrase:  <em><i>have the courage of one's convictions</i></em>, which means “to act in accordance with one's beliefs, especially in spite of criticism.” Confidence, belief, self-assurance, purpose, as mentioned above, all are tied in with having courage.</p>

            </div>
        </ion-content>
  
    
</div>

