<div class="modal" id="enotes-energy">
    
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalEnergy.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>Of course, one should be able to consistently evaluate the data and change one's viewpoint if there is a change in the facts of the matter, or new data arises that calls for a change in the course or direction. </p>
        </div>
    </ion-content>
    
    
</div>

