<div  id="enotes-judge"  class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalJudge.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>Prejudice is, then, an opinion, feeling or decision made prior to having adequate, relevant, verified data, prior to looking for oneself and being willing to hear another's point of view, prior to evaluation. </p>
        </div>
    </ion-content>
</div>