<div class="modal" id="enotes-optimism">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalOptimism.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p><em>Focusing</em> your attention is a concept that is described in this Genius Trait but it is so simple that its power can be easily overlooked. Take for example having your attention on “a million things” and trying to get some work done as opposed to having your attention fully <em>focused</em> on the work you are doing. You can see it is much more productive to “do what one is doing, when one is doing it.” Rather than focusing on the shot they missed, the opponent or angry fans, a basketball player stands a much better chance of making a basket by <em>deliberately focusing</em> on the basketball hoop and the shot he is going to make. You tend to get what your attention is on, what you focus on.</p>
            <p>An <em>optimist</em> would be “hopeful and confident about the future or the successful outcome of something” and “would have a tendency to expect the best possible outcome or dwell on the most hopeful aspects of a situation.” The <em>optimist</em> can envision it happening and focuses on that - <em>focus on something good coming up</em>.</p>
            <p>Good advice. But how to apply it consistently and effectively in spite of difficulties that may arise. To do that would require more than just hope.</p>
            <p>If we re-examine the origin of the word <em>optimism</em> we see it is from Latin <em><i>optimum</i> = the greatest good</em>. Therefore the word <em>optimist</em> implies doing something that is for the greatest good - envisioning, focusing on and doing something worthwhile. This is important and can definitely contribute to one’s optimism. But, again, to be consistently optimistic requires more.</p>
            <p>A deeper exploration reveals that the word <em>optimism</em> derives ultimately from a root word <em><i>op-</i></em> meaning <em>‘to work, to produce in abundance, power’</em>. Op- is also the ancestor of <em>operate</em> (to be able to function effectively and appropriately). This is the key – this is “where the rubber meets the road”, one must be able to work effectively, produce to the specifications (or better) and produce in abundance what one is envisioning.</p>
            <p>In summary, to operate with <em>optimism</em> requires envisioning a worthwhile outcome (one that is for “the greatest good”), and working effectively and producing in abundance what one is envisioning. This will help one to be able to continue to focus on the successful outcome of something in spite of obstacles or adversity – in other words, operate at a true genius-level of <em>optimism</em>.</p>
            <p><em>Warning:</em> Extreme productivity while engaged in a worthwhile activity may cause one to experience a burst of energy and enjoyment.</p>
        </div>
    </ion-content>
</div>

