<div class="modal" id="enotes-outgoingness">
    
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalOutgoingness.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>Our therapy is friendly, it is an ally in support of a cause or a struggle. We provide this to others, it is also important to our company. We carry that in all that we do. It is essential in our culture for each of us to act in a friendly (supportive) manner.  A friend is also someone you are willing to do something for. It is someone you willing to help and who is willing to help you. The broader the reach, the more we help, the more friends we create, the more we flourish. </p>
        </div>
    </ion-content>
    
    
</div>

