<div class="modal" id="enotes-persuasion">
    
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalPersuasion.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>Even though they may not be scientifically susceptible to proof, one’s beliefs can be powerful in terms of accomplishing one’s goals and in persuading or motivating others. One has the right to believe as one chooses (even if others disagree). And one has the right to communicate what one believes to others. It follows then that the best approach regarding others is to be tolerant of their beliefs. </p>
        </div>
    </ion-content>
    
    
</div>

