<ion-view title="19. VERSATILITY">
    <ion-content class="has-header">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div style="position: relative"><img src="images/drive.jpg" width="320" height="420" class=""></div>
            </ion-slide>
            <ion-slide>
                <div class="photo frost " id="flip1">
                <div class="inner" id="drive">"Geniuses have a strong desire to <a data-role="button" class="ttip" ng-click="transIn('work', 'drive')">work</a> <a data-role="button" class="ttip" ng-click="transIn('hard',  'drive')">hard</a> and long.  They're willing to give all they've got to a project.  Develop your <a  data-role="button" class="ttip" ng-click="transIn('drive',  'drive')">drive</a> by <a data-role="button" class="ttip" ng-click="transIn('focus',  'drive')">focusing</a> on your future success, and keep going."
                    <p>DRIVE:</p>
                    <ol>
                        <li>The power or energy to get things done.</li>
                        <li>Derivation/Origin: from Old English drifan = to push, (one early usage was to push from behind, as in driving cattle or livestock).</li>
                    </ol>
                </div>
                <!--div id="card" class="">
                    <figure class="front"><a class="ttip" onclick="$(this).parent().addClass('flipped')">work</a></figure>
                    <figure class="back">2</figure>
                </div-->
                <div id="drive-def" class="inner2" style="display:none">
                    <p>DRIVE:</p>
                    <ol>
                        <li>The power or energy to get things done.</li>
                        <li>Derivation/Origin: from Old English drifan = to push, (one early usage was to push from behind, as in driving cattle or livestock).</li>
                    </ol>
                    <a  data-role="button"  ng-click="transOut('drive', 'drive')">&#8617;</a>
                </div>
                <div id="work-def" class="inner2" style="display:none">
                    <p>WORK:</p>
                    <ol>
                        <li>Physical or mental effort or activity directed toward the production or accomplishment of something.</li>
                        <li>To cause or effect, bring about.</li>
                        <li>Derivation/Origin: from Old English weorc = action, accomplishment.</li>
                    </ol>
                    <a  data-role="button"  ng-click="transOut('work', 'drive')">&#8617;</a>
                </div>
                <div id="hard-def" class="inner2" style="display:none">
                    <p>HARD:</p>
                    <ol>
                        <li>Durable and persistent.</li>
                        <li>Performing energetically; acting or producing something with energy or industriousness.</li>
                        <li>Derivation/Origin: from Old English heard = ultimately meaning 'resistant to pressure', from a root word meaning 'strength'.</li>
                    </ol>
                    <a  data-role="button"  ng-click="transOut('hard', 'drive')">&#8617;</a>
                </div>
                <div id="focus-def" class="inner2" style="display:none">
                    <p>FOCUS:</p>
                    <ol>
                        <li>To concentrate mainly on something, to give your main attention to one thing or one aspect of a thing.</li>
                        <li>Derivation/Origin: from Latin focus = hearth, fireplace, perhaps because it was the 'center' of the home.</li>
                    </ol>
                    <a  data-role="button"  ng-click="transOut('focus', 'drive')">&#8617;</a>
                </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost">
                    <div class="inner"><p>Drive Notes</p><div id="status-drive"></div>
                        <form class="noteform">
                            <div>
                                <label>
                                    <input type="radio" name="drive" value="notstarted" checked="checked" /> <span class="icon-notstarted"></span> Not Started
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="drive" value="inprogress" /> <span class="icon-inprogress"></span> In Progress
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="drive" value="completed" /> <span class="icon-completed"></span> Completed
                                </label>
                            </div>
                            <textarea name="notesdata" class="notes drive" placeholder="Enter notes here"></textarea>
                            <p><button data-role="button" onclick="saveNote('drive')">Save Note</button></p>
                        </form>
                    </div></div>
            </ion-slide>
            <ion-slide>
                <div class="centered frost">
                    <div class="inner"><p>Drive Notes History</p>
                        <form class="noteform">
                            
                            <textarea name="notesdata" class="notes drivehistory" disabled></textarea>
                            
                        </form>
                    </div></div>
            </ion-slide>
            
        </ion-slide-box>
        

    </ion-content>
</ion-view>