<!DOCTYPE html>
<html  ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Genius</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


<script src="kendo/js/jquery.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <!-- kendo stuff -->

<script src="kendo/js/kendo.all.min.js"></script>
<link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
<link href="kendo/styles/kendo.common.min.css" rel="stylesheet" />
<link href="kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <style></style>
  </head>
  <body animation="slide-left-right" ng-controller="MainCtrl" class="platform-ios platform-cordova platform-webview">

      <ion-nav-view></ion-nav-view>

      <script id="templates/base.html" type="text/ng-template">
          <ion-side-menus >

          <ion-side-menu-content drag-content="false">
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-buttons side="left">
          <!--button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button-->
          </ion-nav-buttons>
          <ion-nav-view  name="menuContent" class="background"></ion-nav-view>
          </ion-side-menu-content>

          <ion-side-menu side="left">
          <ion-header-bar class="bar-positive">
          <h1 class="title"></h1>
          </ion-header-bar>
          <ion-content class="navbackground">
          <ul class="list">

          <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
          <a ui-sref="genius.home" class="item" menu-close>Home</a>
          <a ui-sref="genius.howto" class="item" menu-close>How to use this App</a>
          <a ui-sref="genius.about" class="item" menu-close>About Genius</a>
          <a ui-sref="genius.aboutpcyc" class="item" menu-close>About Pharmacyclics</a>
          <a ui-sref="genius.terms2" class="item" menu-close>Terms of Use</a>

          </ul>
          </ion-content>
          </ion-side-menu>

          </ion-side-menus>
          </script>

<!-- Written By: Geovanni Hudson for Pharmacyclics, Inc.-->
  </body>
</html>
