<div  id="enotes-drive"  class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalDrive.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">

            <p>The first characteristic mentioned regarding genius is the quality of drive. Drive to work energetically. Drive to persist in order to overcome any obstacles toward a known goal. Drive to do whatever it takes to make dreams a reality. <em><i>Focus on your future success</i></em>.</p>
            
            <p>Purpose fuels drive.  And a <em><i>worthwhile purpose</i></em> can truly inspire passion, really light that fire. Many people find to help, to be of service to others is an incredibly powerful purpose. To make a meaningful difference for the better. To change someone's life for the better. When you truly embrace a purpose, such as this, drive comes naturally.</p>
            
            <p><em>At Pharmacyclics, our purpose is to develop and commercialize novel therapies intended to improve people’s quality of life, increase its duration, and resolve their serious medical healthcare needs.</em></p>
            
            <p>PURPOSE:</p>
            <ol>
                <li>The reason why something is done or why something exists.  It is something set up as an object or an end to be attained; an intention. </li>
            </ol>
            <p>Derivation/Origin: from Old French <i>porposer</i> = to intend, literally = to put forth (an intention or a reason why).</p>
            <p>NOTE: purpose includes the idea of 'putting forth an intention'.</p>
        </div>
    </ion-content>
</div>