<div class="modal" id="enotes-genius">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalGenius.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>To better understand the full concept of the Genius the following notes are added. When people think of genius the attention generally focuses on the outer manifestation of genius, in other words the creations: the art, the music, the architecture, the breakthroughs in science and what has been accomplished with those breakthroughs - computers, cell phones, putting a man on the moon, workable medication for cancer, etc. What is often overlooked is where these brilliant creations come from. Hence, a person can easily think that if they have not yet created something like that they never will and are, therefore, not a genius. One of the prevalent ideas is that one is either miraculously blessed with genius or one will never have it. </p>
            <p>But taking another look, even the derivation of the word genius carries with it the concept that it is inherent in all of us. "Inborn nature" and "a person's natural inborn character" both clearly point to the idea that genius comes from within and is natural. The concept of the derivation also includes the term "spirit". One definition of spirit is "the intelligent or sentient (aware) part of a person." So if we take it as the essence of the person, the intelligent part that is aware of being aware, we see there the potential of genius as well.</p>
            <p>With observation, study and practice, attention and intention the genius within will manifest itself. Use this app to directly tackle genius as it pertains to you. </p>
        </div>
        </ion-content>
</div>