<div  id="enotes-imagination"  class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalImagination.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
        <p>It can be fascinating to look at the power of imagination and the role it can play in problem solving and creativity. The scope can range from the problems of today to those of a distant future, and from every-day situations to problems that plague man on a global scale. It can be a tool for predicting, influencing and even creating the future. With imagination one could make something appear as if it was created out of nothing. Imagination is a key part of the creation of artistic endeavors that lift our spirits and technological advancements and marvels that shape our world. As an example, a primitive tribe would view the product of someone’s imagination, such as an iPhone, as “magic”… and in one sense they would be right.</p>
        </div>
    </ion-content>
</div>